[2018-07-27 07:53] cdepillabout opened #2 "can't run `stack ghci` with newer version of GTK system library"
termonad depends on the Haskell [`gi-gtk`](http://hackage.haskell.org/package/gi-gtk) library.

The `haskell-gi` family of libraries (`gi-*`) is interesting in that the Haskell modules are generated based on the version of the system library installed.  For instance, the API of the Haskell `gi-gtk` package will be slightly different based on the version of the system `GTK` library, even though the

[2018-08-26 08:53] cdepillabout opened #3 "double click to higlight words will highlight whole urls"
In Termonad, you can double click words in order to highlight them.  On Linux, this is helpful because highlighting a word will copy it to copy-paste buffer.

By default `:` is not considered part of a word, so if you double click a URL, the `http:` part will not be highlighted.

For instance, if you have the text `foo@bar.com` on the terminal and you double click anywhere within the text, the ent

[2018-08-26 08:57] cdepillabout opened #4 "add better description to the termonad.cabal file"
Currently the `description` in the termonad.cabal file just says to see the README.

It would be better if it had another couple lines with a short explanation of what Termonad is.  At the end of the explanation, it could provide a link to the README file.

[2018-08-26 09:08] cdepillabout opened #5 "generate correct links in the haddocks on hackage to the gi-gtk documentation"
In the [Haddocks](https://hackage.haskell.org/package/termonad-0.2.1.0/docs/Termonad-Term.html) on Hackage for Termonad, links are not generated correctly for types that come from the `gi-*` libraries, notably [`gi-vte`](https://hackage.haskell.org/package/gi-vte) and [`gi-gtk`](https://hackage.haskell.org/package/gi-gtk).

For example, see how links are not generated for the [`relabelTab`](https:

[2018-08-26 09:22] cdepillabout opened #6 "add ability to move tabs between Termonad windows (manage multiple windows in same Termonad process)"
It would be nice to be able to move tabs between two different termonad windows.

Currently, if you open up two different copies of Termonad, they are treated as two completely separate applications.  They share nothing.

The design of Termonad should be changed so that multiple Termonad windows are handled by the same termonad process.

Implementing this will require at least the following steps

[2018-08-26 09:32] cdepillabout opened #7 "terminal appears to be unfocused when opening a new tab"
When opening a new tab, it appears to be unfocused.  Here is a screen shot I took after pressing `Ctrl-Shift-t` to open up a new tab:

![file](https://user-images.githubusercontent.com/64804/44626802-0aeb1a80-a95e-11e8-8305-d11e19b19a49.png)

However, the tab actually does have focus.  If you press keys on the keyboard, you can type normally:

![file1](https://user-images.githubusercontent.com/648

[2018-08-26 11:42] cdepillabout opened #8 "add function that tests the invariants for TMState"
There are a few invariants for [TMState](https://github.com/cdepillabout/termonad/blob/f161082f02af901c39f62c80eb9811546ff2daee/src/Termonad/Types.hs#L108).  It would be great to add a function that tests these invariants.

It could be added as an assertion to the beginning of various Termonad functions.  Ideally the assertion would only be run if Termonad was compiled in some sort of debug mode.

[2018-08-26 13:03] cdepillabout opened #9 "setup CI for building with nix"
It would be great to have some sort of CI for this project.

We can't use Travis CI because Termonad requires a recent version of the VTE library.  The Ubuntu machines that Travis CI supplies are relatively old, and only have an older version of VTE.  [`gi-vte`](https://hackage.haskell.org/package/gi-vte-2.91.19) won't compile with these older versions.

There is a [.travis.yaml](https://github.co

[2018-08-26 13:24] cdepillabout opened #10 "add a way to enlarge font with key combination"
Currently Termonad doesn't have any way to enlarge the font with a key combination.  You have to edit the `~/.config/termonad/termonad.hs` file and restart Termonad.  This is pretty annoying and should be fixed.

I used to use the terminal emulator Roxterm.  Roxterm has font resizing options like the following ("Zoom In", "Zoom Out", "Normal Size"):

![file2](https://user-images.githubusercontent.

[2018-08-26 13:55] cdepillabout opened #11 "cooler looking application icon"
Termonad's current icon could definitely be improved:

![termonad-lambda](https://user-images.githubusercontent.com/64804/44628838-cfaf1280-a982-11e8-9f00-da3d9db46ae4.png)

It would be cool to have a better looking icon.  One idea I had is to create an icon that looks like the Roxterm icon, but instead of a `$ _` in the middle, have a lambda or `>>=`:

![file3](https://user-images.githubuserconte

[2018-08-26 14:01] cdepillabout opened #12 "add a right-click context menu"
It might be nice to have a right-click context menu.

For example, this is what Roxterm's right-click context menu looks like:

![file4](https://user-images.githubusercontent.com/64804/44628912-bbb7e080-a983-11e8-954d-318a12513db8.png)

I'm not sure what options should be added to Termonad's right-click context menu, but just adding copy and paste for now should be fine.

Also, Roxterm gives you s

[2018-08-26 14:11] cdepillabout opened #13 "add search and find functionality"
It would be great if Termonad had the ability to search for and find text in the terminal.

Roxterm provides a similar functionality:

![file6](https://user-images.githubusercontent.com/64804/44629013-7ba52d80-a984-11e8-8ea9-8aa324c0120f.png)

If you click `Find`, you get a dialog asking you what to search for:

![file7](https://user-images.githubusercontent.com/64804/44629014-85c72c00-a984-11e8-9

[2018-08-26 14:19] cdepillabout opened #14 "Make sure that the example .config/termonad/termonad.hs file in the README actually compiles"
In the [README.md](https://github.com/cdepillabout/termonad/blob/master/README.md) there is an example configuration file for Termonad, `.config/termonad/termonad.hs`.  It would be great to check that this actually compiles.

There is a library that will do this called `markdown-unlit`.  I have an example of using it [here](https://github.com/arow-oss/tonatona/pull/31/files).  This should be used

[2018-08-26 14:29] cdepillabout opened #15 "doctests hang when compiling with nix"
The doctests for termonad appear to hang when compiling with `nix-build`.  Because of this I have disabled them in the [`termonad.nix`](https://github.com/cdepillabout/termonad/blob/f161082f02af901c39f62c80eb9811546ff2daee/.nix-helpers/termonad.nix#L17) file.

Here is what it looks like when running `nix-build`:

[code]

It just hangs here.  `doctest` appears to fork multiple threads and use 100%

[2018-08-31 15:33] lehins opened #21 "`min-width` is not a valid property"
Wanted to give `termonad` a try, but out of the box setup failed. Followed installation instructions on Ubuntu 16.04:

[code]

[2018-09-01 02:33] cdepillabout commented on #21
@lehins Thanks for this bug report.  I appreciate that you took the time to file this.  I've tried to fix this in #22.  Could you try using that branch and see if it fixes your problems?

[2018-09-01 11:51] lehins commented on #21
@cdepillabout The fix worked. Thank you. :)

[2018-09-02 02:31] #21 closed

[2018-09-02 02:34] cdepillabout commented on #21
Okay thanks, I merged in #22, so now the `master` branch should be usable by you and anyone else on Ubuntu 16.04.

[2018-09-02 03:03] Grendel-Grendel-Grendel commented on #14
Hey, I think I've solved this issue. Made a test suite for the readme, used the markdown-unlit. The stack test found no errors

New to actually contributing on github so I'm not sure how to share this. I attempted making a branch
and pushing the edited termonad.cabal file with the test suite but I don't think I have permissions.

Here is the test suite I added to the termonad.cabal file. Apologies

[2018-09-03 00:18] #14 closed, assigned to nobody

[2018-09-04 00:40] cdepillabout commented on #3
This has been fixed in #25.  Thanks @Grendel-Grendel-Grendel!

[2018-09-04 00:40] #3 closed

[2018-09-04 16:04] Grendel-Grendel-Grendel commented on #7
I have been looking at this and I did not find the bug on my end which complicates things. My best guess is that it has to do with GTK. Though I doubt it, since you mentioned that changing windows causes things to behave like normal, it might have something to do with the window manager. As I am using a rather esoteric one (BSPWM) and doubt we share that. Again, I doubt that.

Another variable tha

[2018-09-04 17:04] Grendel-Grendel-Grendel commented on #8
Hey, trying to take up a more difficult issue this time.

Where exactly is the GTK side of this? I have an idea about what to do to get the relevant tests, I just don't know where to find all the relevant elements.

[2018-09-05 02:03] cdepillabout opened #29 "can't set background color for terminal"
@LSLeary implemented the ability to set the colors for the terminal in #28.

However, it looks like there is a problem with setting the background color of the terminal.  He's not sure whether this is a problem in his own code, or gi-vte, or the VTE library itself.

[2018-09-05 02:14] cdepillabout commented on #7
@Grendel-Grendel-Grendel Thanks for looking into this.  As I stated above, I'm not sure where this bug is coming from, but if you're not seeing it, that's great news!  I guess that means that it is some problem with my local setup.  I'm guessing that the problem is with my local version of GTK or VTE, but you're right that it could also be caused by something like the window manager or GTK version

[2018-09-05 12:29] cdepillabout commented on #8
Okay, so the main idea is that you have a function that takes a [`TMState`](https://github.com/cdepillabout/termonad/blob/9b7a6ce6009c2a380df7c3b858b57d2609716247/src/Termonad/Types.hs#L108) and returns a `Bool` for whether or not it is internally sound.  (Well, actually it should be a `IO Bool`, since you'll need to call the GTK and VTE functions for doing the checking.)

There's actually an exam

[2018-09-06 00:26] Grendel-Grendel-Grendel commented on #8
If I'm not mistaken here and looking at the wrong libraries, gtk widgets have an [`Eq` instance.](http://hackage.haskell.org/package/gtk-0.15.0/docs/Graphics-UI-Gtk-Abstract-Widget.html). So does `ScrolledWindow`. So it looks to me like the function simply needs to grab the focus (which if I understand correctly is the first element in the focuslist) and grab the notebook object. Then they just ne

[2018-09-06 10:28] Grendel-Grendel-Grendel commented on #8
Ok, so I've been looking at the `tmState` type and have started writing the function. I imagine the focused tab in the notebook is the current page, and that's quick to find, but where exactly is the relevant `focusList` in `tmState`? Other than that it seems like there is an `Eq` instance for gtk widgets so if we strip these things down to widgets then they can be compared.

[2018-09-06 23:14] cdepillabout commented on #8
I think you're probably right about the focused tab in the notebook being the current page.

`TMState` is actually a data type wrapped in an `MVar`:

https://github.com/cdepillabout/termonad/blob/9b7a6ce6009c2a380df7c3b858b57d2609716247/src/Termonad/Types.hs#L158

Here is `TMState'`:

https://github.com/cdepillabout/termonad/blob/9b7a6ce6009c2a380df7c3b858b57d2609716247/src/Termonad/Types.hs#L108-

[2018-09-06 23:56] Grendel-Grendel-Grendel commented on #8
Ok, cool, that should be all the info I need. Thanks for the detailed response. Should be easy now, just unpacking some boxes and putting them in `==`. Also, I was planning on writing this function using the `assert` function from the beginning. Simply adding that into the function should do exactly what you want.

You should make an issue for refactoring CreateTerm. We can make it a little pretti

[2018-09-07 15:23] Grendel-Grendel-Grendel opened #31 "Refactor and Document createTerm"
`createTerm` is both an important function and also a little hard to understand. If we want to make the program more accessible, we should break down this function into more manageable parts and add some comments.

Some initial examples:

- the `MVar` status of the initial TMState should be explained, and the specific steps of modifying the TMState should be grouped together and documented. One ca

[2018-09-07 15:39] Grendel-Grendel-Grendel commented on #11
![ver4](https://user-images.githubusercontent.com/4375846/45228955-e3347480-b2c4-11e8-980b-0e5e6d242b62.png)
![ver3](https://user-images.githubusercontent.com/4375846/45228956-e3347480-b2c4-11e8-8bf4-c6488a7475cb.png)
![ver2](https://user-images.githubusercontent.com/4375846/45228957-e3cd0b00-b2c4-11e8-87a3-f8ef9aeb8b4d.png)
![ver1](https://user-images.githubusercontent.com/4375846/45228958-e3cd0b

[2018-09-08 03:10] cdepillabout commented on #11
@Grendel-Grendel-Grendel These look really great! Thanks!

Yeah, I'd definitely be fine with going with the lone `>>=`.  It might be nice to increase the size of the `>>=` and put it in the center of the monitor, since it might be hard to see as-is when the icon is shown very small.

If you want to send a PR replacing the `img/termonad-lambda.png` file, that would be great.  I guess you could also

[2018-09-08 11:43] cdepillabout commented on #29
After doing a little investigation into this, we don't think that it is a problem with the Termonad code, or the gi-vte library (since it is a relatively thin wrapper), but instead with the VTE library.

It would be a good idea to testing this out with the latest version of the VTE library and seeing if it still doesn't work.  This should be relatively easy using `nix`.

If it is still broken, the

[2018-09-08 11:54] cdepillabout opened #34 "get termonad-with-packages into nixpkgs"
It would be great to get [`termonad-with-packages.nix`](https://github.com/cdepillabout/termonad/blob/6a296802453df7f6f9654e088548acf18d507f57/.nix-helpers/termonad-with-packages.nix) into [nixpkgs](https://github.com/NixOS/nixpkgs).

The Haskell package `termonad` is currently in nixpkgs, but if you install it as-is, it is not able to find GHC to recompile its `~/.config/termonad/termonad.hs` con

[2018-09-08 12:30] Grendel-Grendel-Grendel commented on #8
Correct me if I'm wrong but doesn't the latter test encapsulate the former?

[2018-09-08 17:36] Grendel-Grendel-Grendel commented on #8
So it seems to me like the easiest thing to do would be to make the `FocusList` into an ordinary list of widgets and to do the same thing to the notebook, and to compare these lists. A function could return a list of `Maybe TMStateInvariantErr`. This could get fed into our existing assert function.

A possible problem with this approach is that in the event of a failure then, it wouldn't be clear

[2018-09-09 01:46] cdepillabout commented on #8
@Grendel-Grendel-Grendel yeah, I think your plan sounds good.

I imagine the first step would be adding an additional error like this:

[code]

Then in the actual code, you could compare the number of tabs in the focuslist vs the actual notebook, and return a `TabLengthsDifferent` error if they are different.

If they are the same, then you can go through the actual list and return `TabAtIndexDiff

[2018-09-17 03:08] LSLeary commented on #5
I don't know why, but fwiw I do see links to `gi-*` libraries in the Termonad haddocks generated by nix.

[2018-09-30 11:15] kayhide opened #40 "Runtime error on macOS + Nix"
I tried to build it on macOS with Nix package manager.
It builds successfully but causes runtime error.

[code]

[2018-09-30 11:31] kayhide commented on #40
After a bit of googling, I found some macOS user saying that the problem can be fixed by:

https://gitlab.gnome.org/GNOME/gtk/issues/32#note_56757

In my local nix store, there is the header file found:

[code]

In the file, there are these lines:
[code]

Now, I think updating these lines could solve the problem, but I don't know how.

Do I need to write some nix code?

[2018-10-01 05:04] #40 closed

[2018-10-04 14:12] LSLeary opened #45 "The third terminal onwards won't accept input without being manually focused"
This looks like it might be related to #7, but it's not just cosmetic.

Observed behaviour:
 1. Open termonad. Terminal has keyboard focus and shows it. Optionally enter text.
 2. C-S-t open another terminal in a new tab. It has keyboard focus but doesn't show it. Optionally: enter text, gain the appearance of focus by refocusing the application window, or C-S-w close the terminal and C-S-t reopen

[2018-10-04 14:16] Grendel-Grendel-Grendel commented on #45
On my machine, this bug doesn't happen, and neither does #7

[2018-10-04 23:28] cdepillabout opened #46 "create gitter for termonad"
It would be nice to have a Gitter channel where people could ask questions about Termonad.

Having an IRC channel would also be nice, but I'm not a big IRC user, so I'll leave that to someone else if they want to do it!

[2018-10-05 02:55] #45 closed

[2018-10-05 02:56] cdepillabout commented on #7
Fixed in #47.

[2018-10-05 02:56] #7 closed

[2018-10-06 09:56] LSLeary commented on #46
I've gone ahead and registered #termonad on freenode.

[2018-10-06 12:30] cdepillabout commented on #46
Thanks @LSLeary!

When I create the gitter, I'll have to be sure to add a note both about the Termonad Gitter, and the Termonad freenode channel to the readme.

[2018-10-16 13:33] cdepillabout opened #63 "updates on development"
@LSLeary

I just wanted to give you an update of what I'm working on.

I'm thinking about removing the Monoid and Semigroup instances for `ConfigHooks`.  While I think there are a lot of good reasons to have a `Monoid` instance for `ConfigHooks` (mostly that it makes combining them more principled), I think it gives us a little more indirection about updating hooks.  I'm in the process of changing

[2018-10-16 13:35] cdepillabout commented on #63
The small amount of work I have so far is on the `update-extensions` branch.

[2018-10-18 03:12] cdepillabout commented on #63
I've been thinking about the extension stuff for the last couple days.

Here are my thoughts:

Essentially, the extensions are a tuple of three things:

1. A way to hook into existing Termonad functionality.  These are represented as hooks exposed by Termonad.  An example of this is the `createTermHook`.  This is currently done with the `ConfigExtension` type class and the `hooks` method.
2. A way

[2018-10-18 03:38] cdepillabout opened #64 "fix computational complexity in the FocusList module"
A [`FocusList`](https://github.com/cdepillabout/termonad/blob/de2abaaf75b1948470b61a168d9c8397bbc459b0/src/Termonad/FocusList.hs#L53-L57) represents an ordered list with a given item having the [`Focus`](https://github.com/cdepillabout/termonad/blob/de2abaaf75b1948470b61a168d9c8397bbc459b0/src/Termonad/FocusList.hs#L54).  There should be efficient ways to insert an item, remove an item, and figure

[2018-10-18 03:47] cdepillabout commented on #64
Also, all the methods exposed from the `FocusList` module should have the computational complexity added to the haddocks as a big-O value.

[2018-10-23 14:41] LSLeary commented on #63
I have big problems with the changes to the extension system.

### User Interface
This was probably my core focus in the original implementation. Being able to import a record type holding new configuration options and simply "add" them to your existing ones is very nice, and should not be sacrificed without a very good reason. It's hard to say that the ad hoc approach has a user interface, and si

[2018-10-26 09:44] Grendel-Grendel-Grendel commented on #64
http://hackage.haskell.org/package/order-statistic-tree-0.1.1.0/docs/Data-OSTree.html This library looks like it would work fine. It's all O(log(n)) and will be blazingly fast even if the user has a ridiculous amount of tabs. I would get to work on this but I can't seem to figure out how to add this package with the way stack is set up here. Could you lend me a hand? I can get right to work then.

[2018-10-27 00:31] cdepillabout commented on #64
@Grendel-Grendel-Grendel Thanks for taking a look at this.

I think you should be able to add that library by adding it to the `extra-deps` section in the `stack.yaml` file.

However, it looks like `order-statistic-tree` has a dependency on `base ==4.8`, which means it will only work with older versions of base (and hence, older versions of GHC).  You would need to send a PR to `order-statistic-tr

[2018-10-28 15:44] Grendel-Grendel-Grendel commented on #64
I sent a PR. We will have to see how long it takes for them to respond, though.

[2018-10-29 01:11] cdepillabout commented on #64
@Grendel-Grendel-Grendel Thanks!  Could you send a link to the PR?

[2018-10-29 01:37] cdepillabout commented on #64
Thanks for the link.

We'll have to wait and see if this is merged in.  If not, we may have to fork it and either re-implement it in Termonad, or just upload our own OSTree package.

I don't think `FocusList` necessarily needs `Functor`, so I guess that is okay.

[2018-10-29 01:50] Grendel-Grendel-Grendel commented on #64
It also needs instances of `Traversable` and `Foldable` unless we can factor those out as well.

[2018-10-30 02:06] cdepillabout commented on #64
So the current `FocusList` implementation is using an `IntMap`.  However, this `IntMap` has a very specific form.  For instance, if there are 5 items in the `FocusList`, then keys in the `IntMap` are always 0, 1, 2, 3, 4.  If you remove one item from the `FocusList`, for instance the item at index 2, then the items at index 3 and 4 are shifted down so the keys become 0, 1, 2, 3.  The keys in the `

[2018-10-30 02:46] cdepillabout commented on #8
@Grendel-Grendel-Grendel This issue has been fully implemented in master, right?  If so, I want to ahead and close this issue.

Thanks for working on this!

[2018-10-30 02:59] cdepillabout opened #69 "split the FocusList module off to an external package"
Currently the [FocusList]() module is entirely self-contained.  It doesn't really have anything to do with Termonad, so it is a good candidate to split off to a separate package.  That way it would be easy for other Haskell projects to use.

If you're interested in working on this, I will create an empty GitHub repo under my name (at something like https://github.com/cdepillabout/focuslist) and gi

[2018-10-30 03:10] cdepillabout opened #70 "remove the dependently typed Vec module"
~~The [`Termonad.Config.Vec`](https://github.com/cdepillabout/termonad/blob/875b737b01b368c2cbdc9e9d2e83c92dc3e2f593/src/Termonad/Config/Vec.hs) module implements a part of the functionality from the abandoned [`type-combinators`](http://hackage.haskell.org/package/type-combinators) library.  This `Vec` module is completely unrelated to the rest of the Termonad code, and is a good candidate for be

[2018-10-30 10:55] Grendel-Grendel-Grendel commented on #64
Ok, I've been grepping the code already and made some progress. One more question I should have asked. It doesn't appear like there is a way to insert values at n-index into the tree. If this is necessary I could try and write a way to do it into the tree but if the ordinary `insert` function of the tree works fine then I'll just axe the indexed insert functions.

[2018-10-30 13:16] cdepillabout commented on #64
Is this for the `OSTree`?

For `Termonad`, the list of terminals is held in the `FocusList`.  Sometimes a new teriminal is needed to be created in the middle of the existing list.  I think this requies inserting at a given n-index.  Are you saying that the `OSTree` doesn't support this operation?

If so, then maybe the `OSTree` can be changed to support this in `O(lg n)`?  Or maybe we need to find

[2018-10-30 15:45] Grendel-Grendel-Grendel commented on #64
On second thought I don't think `OSTree` works. It organizes elements based on their `Ord` class. The "index" of an element just says that it is the nth smallest value. If I understand this is not at all what we want.

If I understand correctly we require these operations to be fast.
-**selection**:
-**lookup**: of an element (maybe not necessary that it be super fast, `findFL` is used in one plac

[2018-10-30 22:16] Grendel-Grendel-Grendel opened #72 "Let windows run without window header"
![deepinscreenshot_termonad_20181030230841](https://user-images.githubusercontent.com/4375846/47753713-c8fd8e00-dc98-11e8-9644-9afa612dc0ea.png)

Currently Termonad always has the little header (sorry if there is a real word for this) at the top that holds the tabs, even if there are no tabs. I have not found anyway to change this. This clashes with my desktop aesthetic. I currently use Roxterm wh

[2018-10-30 23:02] Grendel-Grendel-Grendel opened #73 "Built-in background opacity control"
Roxterm allows the user to set custom opacity for the terminal background. It would be nice to have this feature in Termonad. This can be done with functions in the `VTE` library I believe.

[2018-10-31 02:00] cdepillabout commented on #72
@Grendel-Grendel-Grendel Thanks for posting this issue.

Actually, @LSLeary was nice enough to implement this already!  I haven't gotten the chance to release a version of Termonad to Hackage with this change, but if you're using `master`, this should exist already:

You can use `ShowTabBarIfNeeded` in `showTabBar` in `ConfigOptions`:

https://github.com/cdepillabout/termonad/blob/2c80c4a3246ee9f8

[2018-10-31 02:01] Grendel-Grendel-Grendel commented on #72
Thanks!

On Wed, Oct 31, 2018 at 3:00 AM Dennis Gosnell <notifications@github.com>
wrote:

[2018-10-31 02:20] cdepillabout commented on #73
@Grendel-Grendel-Grendel thanks for posting about this as well.

Let me give  short explanation of what would be needed to implement this.

1. Figure out how to make the terminal transparent.  It doesn't look like there are any transparency/opacity related options in [GI.Vte.Objects.Terminal](https://hackage.haskell.org/package/gi-vte-2.91.19/docs/GI-Vte-Objects-Terminal.html).  (However, the [ter

[2018-10-31 03:14] cdepillabout commented on #64
Thanks for summarizing what we need. You may be right about `OSTree`.  It may not be exactly what we want.  Let me respond to the rest of the points inline:

Just for clarity, this means finding an item in the `FocusList` based on its index.

Based on the type of `findFL :: (Int -> a -> Bool) -> FocusList a -> Maybe (Int, a)`, this will necessarily have to traverse the entire list, and be `O(n)`.

[2018-10-31 09:36] Grendel-Grendel-Grendel commented on #64
You’re correct about how the OSTree functions, but I don’t see how this
will enable us to detect the index of the tree. Do you want to keep these
elements still as pairs with the index? We would still have to perform a
shift operation, but if I’m not mistaken this wouldn’t be faster, the
number of resources required still would increase linearly. If we insert an
element at index i, we still have t

[2018-10-31 14:22] cdepillabout commented on #64
With my previous comment, I was talking about some sort of theoretical tree data structure.  I'm not actually sure how the OSTree works under the hood!

I was hoping there would be some sort of theoretical data structure that works like I described above.  And I'm not actually sure how it would enable us to detect the index of a given element.  I was hoping that with my theoretical data structure,

[2018-10-31 14:42] Grendel-Grendel-Grendel commented on #64
the balancing and rotating shouldn’t be a problem as the functions are
already ther in OSTree. I’m not sure if we can have fast inserting and
removing while at the same time having fast/implicit indexes. We *can*
figure out what the index of any element is given its node, but this tree
requires that our elements have an ‘Ord’ instance, and then we end up with
the same problems as we have now.

I h

[2018-11-01 01:06] cdepillabout commented on #64
Oh nice, I just read through the explanation of [`Data.Sequence`](http://hackage.haskell.org/package/containers-0.6.0.1/docs/Data-Sequence.html).  It looks like the properties are pretty good, and will hopefully be able to be used to give us the performance as described above!

[2018-11-01 06:35] Grendel-Grendel-Grendel commented on #64
I already have rewritten the module. As soon as I am in a place with reliable internet I will make a PR. Some of the tests have failed though the ones that have failed I believe are because the tests need to be adjusted to the new data type or will be quickly fixed. I don’t know how the test suite works and couldn’t find the source of the failures searching the relevant directory so hopefully you

[2018-11-02 11:18] Grendel-Grendel-Grendel commented on #69
once #76 is pulled in I'll gladly take this up.

[2018-11-02 20:34] Grendel-Grendel-Grendel commented on #73
Playing around with set opacity on `scrollWin` and `vteTerm` just ends up making them fade into a dark background. It seems like whatever is behind these two things also needs to be made transparent, either that or something needs to be changed with colors. I have a compositing window manager so I know the problem isn't there

![deepinscreenshot_termonad_20181102213213](https://user-images.githubu

[2018-11-03 02:35] cdepillabout commented on #73
@Grendel-Grendel-Grendel Thanks for taking a look at this.

As far as the GTK layout goes, the GTK `Notebook` should be "setting behind" the `ScrollWin` and `Terminal`.  I think the only thing behind the `Notebook` is the actual `ApplicationWindow` itself.  I'm not sure if you need to change the opacity of either the `Notebook` or `ApplicationWindow`.

Also, maybe you do actually have to mess with

[2018-11-05 02:20] cdepillabout commented on #64
@Grendel-Grendel-Grendel #76 has been merged in.  Thanks!

I think this would work.  However, now getting the element at the `Focus` has only logarithmic complexity, so it should be pretty fast, even for a big list.  The only time you'd need it to be `O(1)` is if you have a HUGE list, and you frequently need to manipulate the list and then get the new focus.  Of course, your list manipulation func

[2018-11-05 02:20] #64 closed

[2018-11-05 02:31] cdepillabout commented on #69
#76 has been merged in.

I've made a `focuslist` repository at https://github.com/cdepillabout/focuslist.  You should have access to push directly to this repository.

Please add things like a README, an empty CHANGELOG, a BSD3 LICENSE, etc.  (You might be able to create a nice repo if you start with a command like `stack new` or `cabal new`.)

I guess the module name should be something like `Dat

[2018-11-08 04:14] cdepillabout commented on #69
So this has been done: https://github.com/cdepillabout/focuslist

Thanks @Grendel-Grendel-Grendel!

Now all that is needed is for someone to send a PR removing the `Termonad.FocusList` module and replacing it with the `focuslist` package!

[2018-11-13 12:28] cdepillabout opened #79 "use gi-gtk-declarative"
One of the most annoying parts of hacking on Termonad is interacting with the haskell-gi libraries.  This is no fault of the libraries in question, they are only a thin wrapper around the underlying GTK libraries.

The underlying GTK libraries are mostly IO-based and procedural.  It is hard to come up with good, testable code when relying on those libraries.

It would be nice to use a library that

[2018-11-13 13:32] cdepillabout opened #80 "error when building on Mac OS X with nix"
There is an error when building on Mac OS X with `nix-build`:

[code]

The line in question is the following:

[code]

I'm pretty sure this is https://github.com/NixOS/nixpkgs/issues/41340.

I tried to work around it by setting `strictDeps = true` in branch [`strictDeps-on-haskell-gi-libs-for-mac`](https://github.com/cdepillabout/termonad/tree/strictDeps-on-haskell-gi-libs-for-mac), commit 7271445

[2018-11-13 13:40] cdepillabout commented on #63
Since this was originally just an update on development, I'm going to go ahead and close it.  Although free free to re-open it or post a new issue.

[2018-11-13 13:40] #63 closed

[2018-11-13 13:41] cdepillabout commented on #8
From looking at the code, I believe this has been fully implemented in master.

[2018-11-13 13:41] #8 closed

[2018-11-13 13:48] cdepillabout commented on #2
This doesn't appear to be a problem anymore for some reason, so I'm going to go ahead and close it.

If it appears to a problem, please fee free to reopen it.

[2018-11-13 13:48] #2 closed

[2018-11-14 03:19] cdepillabout commented on #5
This looks like it is working now.  The termonad-1.0.0.0 release has correct documentation.

I *think* this was fixed by setting the documentation to be generated by default for the haskell-gi packages:

https://github.com/cdepillabout/termonad/blob/57157c716d6233fa24f8756b6a2ab182702f1ace/.nix-helpers/nixpkgs.nix#L62-L68

I'd like to get this setting to be the default in nixpkgs:

https://github.

[2018-11-14 03:19] #5 closed

[2018-11-14 03:32] cdepillabout opened #81 "take arguments on the command line"
It would be nice to accept arguments to `termonad` on the command line.  Where possible, the current Termonad options should be able to be specified on the command line as flags:

http://hackage.haskell.org/package/termonad-1.0.0.0/docs/Termonad-Config.html

However, not all options will be able to be easily specified on the command line.  That's okay. You'll also need to make sure that options sp

[2018-11-14 03:35] cdepillabout commented on #81
As long as you've used `optparse-applicative`, this shouldn't actually be too difficult to figure out.  It is also a good way to get familiar with all of Termonad's options, since you'll have to make sure to parse them on the command line.

Although, this might be tricky to figure out how to make the parser extensible by extensions, as well as the interactions with `dyre`.  If you try to tackle th

[2018-11-15 01:05] cdepillabout opened #82 "add a preferences dialog that could configure termonad during runtime"
It would be great if Termonad had an options dialog where options could be configured during runtime.

Termonad is modeled off of [Roxterm](http://roxterm.sourceforge.net/), so I imagine this options dialog would look similar to Roxterm's:

![options](https://user-images.githubusercontent.com/64804/48522560-79d07380-e8bc-11e8-8afc-d2a2ea9d6b3e.png)

Setting an option in this options dialog should

[2018-11-15 01:16] cdepillabout opened #83 "figure out a way for the user to set default key bindings"
It would be nice for the user to be able to set default key bindings in their `termonad.hs` configuration file.

Currently there are two types of key bindings:

- Key bindings to the current menu actions, like `new tab`, `close tab`, `copy`, `paste`, etc.  These are set in the following function:

    https://github.com/cdepillabout/termonad/blob/77cb1089e9e3b0d89161fce806c709e7665a26ad/src/Termon

[2018-11-15 19:31] owickstrom commented on #79
Ping me if you have any questions around `gi-gtk-declarative`, happy to help with that if I can! I don't think I have time to help with this particular implementation, but could answer questions about the library.

By the way, it aims to be complete, but some widgets are really hard to automatically make declarative. Thus, it's not a complete declarative layer over gi-gtk at the moment. As "workar

[2018-11-15 21:16] emmanueldenloye commented on #10
I just took a look at your code. Are you familiar with lenses? I think they could make changing the fonts in the terminal a much easier affair.

[2018-11-15 22:49] cdepillabout commented on #10
Thanks for taking a look at this @emmanueldenloye!

Yeah, there should be lenses available in the [Termonad.Lenses](http://hackage.haskell.org/package/termonad-1.0.0.0/docs/Termonad-Lenses.html) module.  If you notice any record fields that don't have lenses, this would be considered a bug!

[2018-11-15 23:06] emmanueldenloye commented on #10
I didn't realize you could make lenses in that way. That is rather convienent.

To make the font changes I was considering using a config hook. I could use a hook similar to:

`createTermHook :: TMState -> Terminal -> IO ()`

or even that one. I'll cook up something and see what shakes out.

[2018-11-15 23:59] cdepillabout commented on #10
I don't think this would necessarily require using the config hook.

I think basically you just need to add a new menu entry for shrinking and enlarging the current font size.  A new menu entry should be added [here](https://github.com/cdepillabout/termonad/blob/cff560a43cca7ad210060da01d2de7653facd352/src/Termonad/App.hs#L314) and [here](https://github.com/cdepillabout/termonad/blob/cff560a43cca7

[2018-11-16 21:36] burumaj commented on #83
To start of with I really like the idea for this feature. I recently came across Termonad and like using it.
This should be fairly simple I imagine. An easy way to do this, I think, is via similar construction like the `keyMap` allready present. After looking at the source code letting the user define their own `Map Key (TMState -> IO Bool)` and adding it to the `TMConfig` should not be to much ef

[2018-11-16 22:29] bolt12 opened #84 "palette: how to create an extended pallete"
I'm having a hard time figuring how to create a custom ExtendedPallete.

I have the this:

[code]

But i can't convert it to a `Vec N8 c`, I dont have access to the `Vec` constructor...
Maybe create an end-user list2Vec function?

[2018-11-17 02:43] bolt12 commented on #84
I get this error: > Module ‘Termonad.Config.Vec’ does not export ‘unsafeFromListVec_’

I can export it myself, but for the sake of this example maybe you forgot to edit that on the `Vec.hs`

[2018-11-17 04:54] cdepillabout commented on #84
@bolt12 Hmm, are you sure you did a `git pull`?

The current version of `master` has the above code in `Termonad.Config.Vec`:

https://github.com/cdepillabout/termonad/blob/master/src/Termonad/Config/Vec.hs#L394-L395

There is no export list in `Termonad.Config.Vec`, so everything should be exported.

[2018-11-17 05:07] cdepillabout commented on #83
@burumaj Thanks for thinking about this!

This should be fairly simple I imagine. An easy way to do this, I think, is via similar construction like the keyMap allready present. After looking at the source code letting the user define their own `Map Key (TMState -> IO Bool)` and adding it to the `TMConfig` should not be to much effort.

This sounds like a good idea.  Here are a couple small additio

[2018-11-17 09:58] bolt12 commented on #84
Yes, I'm sure!

Look at my screenshot
![image](https://user-images.githubusercontent.com/20261421/48659824-2a6e7c80-ea4f-11e8-9aaf-18ae18b5364e.png)

I got it working by just building the Vec with `(:*)` and pass it to the ExtendedPalette.

[2018-11-17 14:31] cdepillabout commented on #84
Hmm, this is really strange.

Have you done a `stack build` after doing `git pull` but before the `stack exec -- termonad`?  Assuming that is so, I have no idea why this would be happening.

Running `stack exec -- termonad` should use the termonad binary that was created the last time you ran `stack build`.  It appears that some other `termonad` binary is being used instead.  I'm not sure why this

[2018-11-17 14:48] bolt12 commented on #84
You're right! I forgot to `stack build`!

All good now, thanks for your help!

[2018-11-18 18:09] bts opened #85 "Ligature support"
Thanks for this project! What would be necessary for us to add ligature support to termonad? e.g. for the font PragmataPro

[2018-11-19 15:29] bts commented on #85
@cdepillabout Thanks for your response! Unfortunately it seems like VTE does not currently support ligatures: https://bugzilla.gnome.org/show_bug.cgi?id=781597#c10

[2018-11-19 22:47] cdepillabout commented on #85
@bts Ah, that's unfortunate :-\

I guess I would still suggest opening an issue on the [VTE issue tracker](https://gitlab.gnome.org/GNOME/vte) (and then posting a link here).  At the very least it would let the VTE team know that some people are interested in ligature support in VTE.

[2018-11-22 01:37] cdepillabout commented on #34
This has been merged in to nixos master in https://github.com/NixOS/nixpkgs/pull/50810.

Thanks @NeQuissimus!

[2018-11-22 01:37] #34 closed

[2018-11-22 14:22] cdepillabout commented on #9
This has been partially added in #87.

Termonad is built and tested on Travis-CI, but the dependencies are installed manually.

It would be nice if we could test that `nix-build` works as well.

Does anyone know a good CI for testing that a package can be built using `nix`?

[2018-11-22 14:37] cdepillabout commented on #84
I released a new version of termonad (1.0.1.0) that has these new functions in it:

http://hackage.haskell.org/package/termonad-1.0.1.0/docs/Termonad-Config-Vec.html#v:fromListVec_

Thanks for bringing this up, @bolt12.

[2018-11-22 14:37] #84 closed

[2018-12-05 13:29] craigem opened #89 "Background Highlights Not Working in Vim"
Thanks for this project. Greatly appreciated and timely (for me).

I've been developing a Solarized colour scheme for Termonad and in that process I noticed in either my colour scheme, the default colour scheme or the [example colour scheme](https://github.com/cdepillabout/termonad/blob/master/example-config/ExampleColourExtension.hs#L37-L7) that background highlights were not working in ViM.

The

[2018-12-05 23:51] cdepillabout commented on #89
Hi @craigem, sorry to hear you're having problems with color-stuff.  Let's see if we can figure it out.

So, to start off with, the ansi color stuff for terminals is pretty complicated:

https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

And then VTE's interface on top of that is also somewhat weird.  I've tried to explain how it works in the Termonad haddocks, but the explanation is quite lon

[2018-12-06 01:51] craigem commented on #89
Thanks to @LSLeary on #termonad, this has been resolved.

It turned out to be a vim.rc configuration issue, rather than Termonad itself.

Although other terminals (in particular Terminology, lxterminal, gnome-terminal) displayed the background highlights correctly, Termonad required me to clear a whole swag of existing settings and enable the Solarized toggle for ViM.

I don't consider this a Term

[2018-12-06 01:51] #89 closed

[2018-12-06 04:52] craigem commented on #89
When I first had a crack at Solarizing Termonad, I could not figure out how to do more than 8 colours. Not being able to have a solarized terminal made it initially unusable.

@LSLeary pointed out your recent Vec example, so using that I was able to achieve what I wanted, once I'd sorted the Termonad colour configuration issues from the local (ViM) issues.

Pretty happy.

Pull request coming short

[2018-12-27 22:30] aware70 commented on #81
Hi there - I've started working on this.
I've noticed that `dyre` will only allow you to specify a different directory for its config search. it expects the name of the file to match your executable i.e. termonad and termonad.hs. Do you think that's enough?

In my testing so far the new binary seems to receive and process the original flags as expected.

I haven't really looked at extensions yet.

[2018-12-28 00:31] cdepillabout commented on #81
Hi, thanks for working on this!

Yeah, that sounds good for now.  I guess eventually we should send a PR to `dyre` to add an option to change the name of the configuration file, but that is out of scope for this issue.

Okay great, looking forward to the PR!

Yeah, maybe adding a new hook that is able to process the command line arguments would be the easiest thing to do here.

Although I really h

[2018-12-29 21:56] romanofski opened #92 "Termonad is unable to compile the config"
I gave termonad a try and after a `nix-build` it wasn't able to compile the config. Unfortunately it wasn't able to compile the config.
[code]

Upon ask for help on IRC, @LSLeary pointed me to the missing NIX_GHC setting in the wrapper script. I actually had NIX_GHC set in my environment, but it seems to no avail.
Indeed if I "undo" the changes from 7551a4d7e925a587ef98016245cd0a2de71a240a I get a

[2018-12-30 05:17] romanofski commented on #92
Nice! Thank you!

[2018-12-30 22:55] clinty opened #94 "support Solarized color schemes"
Please include a mechanism for easily enabling Solarized Light and Solarized Dark color schemes (without defining all the colors by hand).

[2018-12-31 00:17] cdepillabout commented on #94
I think it would be a good idea to provide some predefined color schemes that people could easily use.  I rewrote the title to reflect this.

If you (or anyone else) wants to add some predefined color schemes, please feel free to send a PR.  This should be a relatively easy change.

@craigem Added an example of defining a color scheme here:

https://github.com/cdepillabout/termonad/blob/90ad90c20f

[2018-12-31 04:27] #10 closed, assigned to nobody

[2018-12-31 16:43] cdepillabout opened #97 "get termonad compiling with GHC 8.6"
Right now termonad only compiles with GHC 8.4 on Stackage LTS-12.

It would be nice to have support for compiling with GHC 8.6 (and Stackage LTS-13) as well.  If you get this working, I'll make a release and we can get Termonad back in Stackage.

If you want to tackle this issue and you're a nix user, it would also be nice if you could update the nix stuff to use a more recent version of nixpkgs (

[2018-12-31 18:02] clinty commented on #97
For reference, the build fails with:

[code]

[2018-12-31 19:11] clinty commented on #97
Not sure if this is the right fix, but it builds.

[2019-01-01 02:06] #97 closed

[2019-01-01 04:01] cdepillabout opened #99 "compilation fails with stack on NixOS because arguments passed to hsc2hs for haskell-gi are too long"
There is an issue on the nixpkgs issue tracker that is tracking this:

https://github.com/NixOS/nixpkgs/issues/49206

[2019-01-02 02:34] cdepillabout commented on #99
I've worked around this in #101.

You can see the explanation of how to use this at the top of the file https://github.com/cdepillabout/termonad/blob/db185e34a4b678183d8d1b1ce0be4c8bf3532fc8/.nix-helpers/stack-fhs-env.nix.

[2019-01-02 05:14] craigem commented on #94
I've got some screen shots in [this blog post ](https://mcwhirter.com.au/craige/blog/2018/Configuring_Solarized_Colours_in_Termonad) which I'll happily upload to the haddocks if they're good enough.

On a related topic, I've been wondering about how to load the Solarized themes and switch between light and dark with a key stroke toggle. At the moment I'm just mentally kicking tyres but if there's

[2019-01-02 07:36] cdepillabout commented on #94
@craigem Hmm, I wonder what end users would like to see.  I was thinking it would be nice to just get a picture of what each color actually looks like.

I was thinking of running a command like this and taking a picture of it:

[code]

Here's the default color scheme:

![termonad-colors](https://user-images.githubusercontent.com/64804/50583398-45d10200-0eac-11e9-8874-48fa33445c7c.png)

Although ma

[2019-01-02 08:15] cdepillabout commented on #94
@craigem

This should be possible, but will require changing a few things.

You'll have to send a PR to add a [hook](https://github.com/cdepillabout/termonad/blob/db185e34a4b678183d8d1b1ce0be4c8bf3532fc8/src/Termonad/Types.hs#L445-L449) that gets called right as Termonad is about to launch.  Probably around here:

https://github.com/cdepillabout/termonad/blob/db185e34a4b678183d8d1b1ce0be4c8bf3532f

[2019-01-04 10:16] craigem commented on #94
Did that via [PR #103](https://github.com/cdepillabout/termonad/pull/103)

![Termonad, Solarized Dark](https://raw.githubusercontent.com/cdepillabout/termonad/2a790c37da0422b18463a4e1461e9269eb6ff4dd/img/termonad-Solarized_Dark.png)

![Termonad, Solarized Light](https://raw.githubusercontent.com/cdepillabout/termonad/2a790c37da0422b18463a4e1461e9269eb6ff4dd/img/termonad-Solarized_Light.png)

I'm h

[2019-01-04 10:19] craigem opened #104 "Toggle Between Solarized Schemes in Existing Tabs and Windows Without Recompiling"
@craigem

This should be possible, but will require changing a few things.

You'll have to send a PR to add a [hook](https://github.com/cdepillabout/termonad/blob/db185e34a4b678183d8d1b1ce0be4c8bf3532fc8/src/Termonad/Types.hs#L445-L449) that gets called right as Termonad is about to launch.  Probably around here:

https://github.com/cdepillabout/termonad/blob/db185e34a4b678183d8d1b1ce0be4c8bf3532f

[2019-01-04 10:21] craigem commented on #104
For the record, I am happy to work on this (probably as soon as next week), I just felt a new issue was appropriate as I felt we'd strayed from the original issue's remit, @cdepillabout

[2019-01-04 14:05] cdepillabout commented on #94
@craigem

Thanks for #103.

I added a comment there but I probably should have added it in this thread:

https://github.com/cdepillabout/termonad/pull/103#issuecomment-451450916

Basically it explains the steps you would take for adding a predefined solarized theme to the `Termonad.Config.Colour` module.  If you (or anyone else reading this) want to implement this, I would definitely accept a PR f

[2019-01-04 14:09] cdepillabout commented on #104
@craigem Thanks for copying this issue over!

I'd definitely accept something like this if you wanted to take a shot at implementing it.  Looking forward to the PR!

[2019-02-17 16:02] craigem opened #107 "Termonad Segfaults from commit 56b1fa5 onwards on NixOS 18.09"
From the commit logs I expect that this behaviour is expected in the transition to the latest nixpkgs but I felt it was worth flagging in case my assumption was incorrect.

Termonad beyond commit [56b1fa5](https://github.com/cdepillabout/termonad/commit/56b1fa57d27c0a628e6c133661c598cdf744e6d7) builds OK on NixOS 18.09 but segfaults after compiling then attempting to run user's Termonad binary.

I

[2019-02-18 04:19] cdepillabout commented on #107
@craigem When you say building on NixOS 18.09, do you mean running something like:

[code]

Or do you mean just running `nix-build` on a 18.09 system?

As far as I am aware, the second one should work (although I don't have any support for the first one).

Would you be able to describe a little bit more about how you're compiling Termonad?

[2019-02-18 06:11] craigem commented on #107
I thought I may have be being a little vague, so the work flow specifically is:

`$ nix-build`

Which completes successfully. I then delete my cache:

`$ rm -rf ~/.cache/termonad`

and then I install the new build:

`$ nix-env --file .nix-helpers/termonad-with-packages.nix --install`

Lastly I run termonad, it then successfully builds my cached binary but segfaults when running it. This happened o

[2019-02-18 07:07] cdepillabout commented on #107
Thanks for the updated info.

I'll take a look at this and see if I can reproduce the problem.

[2019-02-18 07:20] craigem commented on #107
For the sake of reproduction, I first hit the issue whith a simple "git pull" on master, encountered the described segfault and worked back from there (including rolling back NixOS to make sure I'd not introduced some breakage).

[2019-02-18 13:32] cdepillabout commented on #107
@craigem I had a chance to look at this, but I'm not able to reproduce this segfault on my system.

Doing `nix-env -f ./ -i && rm -rf ~/.cache/termonad && termonad` works for me without any segfaults.  I'm trying to update NixOS right now to the latest release of 18.09 to see if that causes Termoand to segfault.  I'll let you know if I see any segfaults.

Ideally Termonad should *not* be segfaulti

[2019-02-18 15:12] cdepillabout commented on #107
@craigem I tried updating to the latest release of 18.09 and Termonad still seems to work fine.  I'm not able to reproduce the segfaults.

[2019-02-18 22:32] craigem commented on #107
In transit, just dropped into an airport, awaiting a connecting flight.

Following your steps, the latest master still segfaults for me but your testing clearly shows this is a local issue.

I've attached a strace I collected on the flight but have yet to examine myself, should curiosity get to you :-D

[termonad_strace.txt](https://github.com/cdepillabout/termonad/files/2877575/termonad_strace.tx

[2019-02-19 02:37] cdepillabout commented on #107
@craigem I took a look at the strace output, but unfortunately it doesn't say a lot.  Here's the relevant parts right before the segfault:

[code]

You can see that it reads `/nix/store/0q31dphs3nw6p17lfi56lpw0y83i4c0i-termonad-1.1.0.0-data/share/ghc-8.6.3/x86_64-linux-ghc-8.6.3/termonad-1.1.0.0/img/termonad-lambda.png` and then dies.

However, I guess it is possible there are multiple threads doi

[2019-02-24 04:02] romanofski commented on #107
I ran into this too. I ran it through GDB. Here is a trace back:

[code]

and I'm wondering if we, the ones who run into this, use the same version of libpng?

[2019-02-24 10:39] craigem commented on #107
I have two versions installed but at this juncture I'm going to respond with a tentative "yes".

In IRC I recently said this to @romanofski :

[code]

but as I've not been at it for a few days, what that was will elude me til I have another look at it.

[code]

[2019-02-24 13:14] cdepillabout commented on #107
You could try just commenting out the place where the `.png` in question is being loaded:

https://github.com/cdepillabout/termonad/blob/94c5d51c725ab1e3dc46d4482cc3961e3f7eb036/src/Termonad/App.hs#L291-L292

Although it is puzzling why you would be seeing this, and I wouldn't, since we should be using the exact same version of `libpng`.  Here's what I ran in Termonad's source dir:

[code]

[2019-03-02 04:53] cdepillabout commented on #107
@craigem @romanofski
I just updated Termonad to use the latest release of nixpkgs-19.03.  Maybe that will work better for you?

[2019-03-02 09:59] romanofski commented on #107
@cdepillabout Cheers! I tried to get a small reproducer running with debug symbols this morning, but failed. I did the same nix-build on a different distro and did not see the crash. I'm almost tempted to think it might be platform/kernel specific ...

[2019-03-07 20:17] romanofski commented on #107
I've gotten around to try out HEAD (963d912b57525cd3cfcc29e09d9b3af089d20cb2) against Linux 4.14.104 #1-NixOS SMP Wed Feb 27 09:08:09 UTC 2019 x86_64 GNU/Linux (in case that is important) and no luck.

[code]

Different version of libpng, same version of glibc. I'm still interested in getting debug symbols. Perhaps it's related to our version of glibc we're using ...

[2019-03-08 00:14] cdepillabout commented on #107
@romanofski Did you try commenting out the lines that load the PNG?  I'm interested in whether or not that fixes this crash.  If so, we know it is definitely a PNG-related issue.

https://github.com/cdepillabout/termonad/issues/107#issuecomment-466773853

Also, are you on NixOS-18.09?  Or NixOS-unstable?  I'm on 18.09 here.

Looking at the backtrace, I think we're using the same version of libpng,

[2019-03-08 02:22] romanofski commented on #107
@cdepillabout Sorry I keep ignoring that point, am I. Will definitely have a look tonight.

In regards to the other points:
* NixOS-18.09

Also will check the gdk-pixbuf version.

[2019-03-08 08:34] romanofski commented on #107
Alright answers:
* yes, can confirm commenting out the loading of the PNG file works from https://github.com/cdepillabout/termonad/issues/107#issuecomment-466773853
* I get the same output when using `nix-store --query -R` with one exception:
[code]
and same output with `ldd`:
[code]

However, you're right... when I run the binary which causes the segfault there is this older version of gdk-pixbuf

[2019-03-08 09:05] cdepillabout commented on #107
@romanofski Thanks for looking into this.

So I guess for now if you (or anyone else) is running into this but still want to use Termonad, then commenting out the problematic lines is a reasonable workaround.

Oh sorry, we do actually get the same output here.  I had removed the `/nix/store/b79xaydz0a65d357kkqz72wwp2l6kqfn-glibc-iconv-2.27` line from  my output because I thought it was not related

[2019-03-08 09:12] romanofski commented on #107
@cdepillabout Yes I'm surprised as well. I've found several binaries on the system mainly installed from NixOS-18.09 which are linked against `gdk-pixbuf-2.36.12` (e.g. gimp or emacs). I'd say the majority is linked against the older gdk-pixbuf version.

Cheers for the pointer to `LD_DEBUG`. I'll give that a shot too.

[2019-03-08 22:28] romanofski commented on #107
I `strace`d a small reproducer I wrote https://github.com/romanofski/termReproducer and found this:
[code]
The librsvg has a gdkpixbuf loaders.cache which points to `gdk-pixbuf-2.36` loaders. The next thing what happens is:

[code]

loading the PNG by the different version of gdk-pixbuf. I'm surprised that librsvg has it's own loaders.cache. I guess it would defeat any isolation Nix is trying to a

[2019-03-09 01:35] cdepillabout commented on #107
@romanofski

I tried searching on nixpkgs for this problem and it seems like there are other people running into this:

https://github.com/NixOS/nixpkgs/issues/54278
https://github.com/NixOS/nixpkgs/issues/39493

I just sent a PR that makes sure to set XDG_DATA_DIRS to point to pixbuf.  I don't know if that would help at all, but you could try it out:

https://github.com/cdepillabout/termonad/pull

[2019-03-09 14:23] cdepillabout commented on #107
I believe this has been fixed in #109, so I am going to go ahead and merge this.

If anyone else is seeing this problem, please leave a message on this thread.

[2019-03-09 14:23] #107 closed

[2019-03-09 21:44] romanofski commented on #107
Cheers @cdepillabout and @craigem. Getting behind this was an enjoying puzzle.

[2019-03-09 21:56] craigem commented on #107
I'm still catching up this and #109 - looks like a great result and I'll have time test a build tomorrow.

(This had become a blocker to me working on #104)

[2019-03-11 01:32] craigem commented on #107
Confirming that it's fixed for me. Thanks!

(built Termonad from master on NixOS 18.09)

[2019-03-20 06:43] cdepillabout commented on #15
I wonder if this is related to https://github.com/sol/doctest/issues/219.

[2019-03-26 11:05] cdepillabout commented on #15
I've figured out that this seems to be caused the by the configure options declared in the generic Haskell builder:

https://github.com/NixOS/nixpkgs/blob/d73f16d6767e99675682f822dac3017bf9af1e83/pkgs/development/haskell-modules/generic-builder.nix#L151-L166

Commenting out all those options appears to make the doctests succeed in just a minute or two.  I'm currently trying to figure out which opt

[2019-04-02 07:00] cdepillabout commented on #15
I figured this out and posted sent a PR about it upstream:

https://github.com/NixOS/nixpkgs/pull/58743

[2019-04-11 09:15] cdepillabout commented on #15
This appears to be the corresponding GHC issue:

https://gitlab.haskell.org/ghc/ghc/issues/15524#note_193060

[2019-06-24 10:38] dakotaclemenceplaza commented on #29
Hi, it seems nobody works on this as well as well as on #73. I've looked into this code

[code]

The problem seems to be that even if you don't specify backgroundColor in your config it just sets the colour from default config which happens to be black. If you put `terminalSetColorBackground` before `terminalSetColors` then you can use palette because it will overwrite background color. Isn't it j

[2019-06-24 11:07] cdepillabout commented on #29
@dakotaclemenceplaza Thanks a lot for looking into this.

How would you recommend fixing it?  Just switching the order to `terminalSetColors` and `terminalSetColorBackground`/`terminalSetColorForeground`?  Or maybe you're saying that you can either use `terminalSetColors` OR `terminalSetColorBackground`, but using both doesn't work?

Would you be able to send a PR fixing this?  (And hopefully upda

[2019-06-24 11:25] dakotaclemenceplaza commented on #29
I'm not sure yet how exactly to make it better, at the very least the point is to use default config only if there are no others. I'll try to think about it more and then fix it.

[2019-06-24 15:31] dakotaclemenceplaza commented on #29
I sent the PR.
The bug was even more subtle. My first goal was to add transparency so I was adding some code that eventually helped me to catch it. In addition to the order, when you set background color you create newZeroRGBA which has alpha and defaults to 0 meaning that color becomes completely transparent and non-visible, but at the same time transparency wasn't working and it just resulted in

[2019-06-25 14:26] #29 closed

[2019-06-25 14:46] cdepillabout opened #112 "termonad colors should be AlphaColour"
Termonad is using the [`colour`](http://hackage.haskell.org/package/colour) library to define things like cursor colors, terminal background colors, etc.

In particular, Termonad is using the [`Colour`](http://hackage.haskell.org/package/colour-2.3.5/docs/Data-Colour.html#t:Colour) type.

These `Colour` types are converted to an [`RGBA`](http://hackage.haskell.org/package/gi-gdk-3.0.21/docs/GI-Gdk

[2019-06-26 02:55] cdepillabout commented on #15
I finally fixed this in #113.

[2019-06-26 02:55] #15 closed

[2019-06-26 03:04] cdepillabout commented on #70
I tried splitting the depedently-typed Vec stuff off into a separate package:

https://github.com/cdepillabout/dependent-walrus

However I don't particularly like how it has turned out.  I'm considering just dropping all the dependently typed Vec stuff and just using normal linked lists.  This will lose a little type safety, but I think it will allow us to get rid of lots of code.

[2019-06-26 03:07] cdepillabout commented on #73
There's been a small update about this.

@dakotaclemenceplaza figured out that there was a bug in Termonad where the background colors of the terminal weren't getting their alpha set correctly.  That could have been what was causing this to not work.  This was fixed in #111 and #110.

Someone needs to take another look at this, now that #111 has been merged in.  It might work better this time.

[2019-06-26 09:35] dakotaclemenceplaza opened #114 "Gtk documentation doesn't recommend to put VteTerminal in a scrolledWindow"
The description here https://developer.gnome.org/vte/0.48/VteTerminal.html says

It seems that termonad does exactly that. I guess it's better to change it to recommended way?

[2019-06-26 11:03] cdepillabout commented on #114
@dakotaclemenceplaza Good catch.

Here's the function that creates the `ScrolledWindow` and adds the `Terminal` to it:

https://github.com/cdepillabout/termonad/blob/e2d36d96504de65019bf0d08535ea765f389aa54/src/Termonad/Term.hs#L290

This should probably be changed to instead do as the documentation above says.

--------------------------------

That said, this hasn't seemed to cause any big bugs

[2019-07-04 03:23] #112 closed

[2019-07-10 07:05] #31 closed

[2019-07-21 13:58] cdepillabout commented on #13
I'm currently working on implementing this.

[2019-08-06 04:03] #13 closed

[2019-08-06 04:05] cdepillabout commented on #9
Termonad stopped being able to be built with `stack` on Travis-CI because the build would often timeout after 50 minutes.

However, I setup Travis CI to build with Nix (instead of `stack`) in PR #118.

[2019-08-06 04:05] #9 closed

[2019-08-19 03:49] cdepillabout opened #119 "build statically-linked executable for Termonad"
It would be nice to be able to build Termonad into a statically-linked executable.

I did a little work on getting this building using [static-haskell-nix](https://github.com/nh2/static-haskell-nix/):

https://github.com/nh2/static-haskell-nix/issues/50

The final derivation I came up with is in this comment:

https://github.com/nh2/static-haskell-nix/issues/50#issuecomment-522325431

My guess is

[2019-09-03 18:58] willbasky opened #122 "Hang-up when on hello test within `nix-build`"
When I try to install with `nix-build` it hangs on running `hello` tests and eats CPU.
![Screenshot_20190903_235327](https://user-images.githubusercontent.com/28530747/64200749-91f29d00-cea6-11e9-9f56-d0b1c2b0d583.png)

[2019-09-03 19:13] willbasky commented on #122
Ok, It hangs out in a while.

[2019-09-03 19:13] #122 closed

[2019-09-18 00:30] lattfein commented on #81
@aware70 Are you still working on this? If you don't mind, I'd like to help you with this issue.

[2019-09-18 00:37] cdepillabout commented on #81
@lattfein As far as I know, this is not being worked on, so please feel free to go ahead and start working on this.

[2019-09-30 13:39] egmontkob opened #124 "Faulty Solarized definition"
The Solarized definition is faulty both in the example config, as well as on the screenshots.

The Solarized palette, including the mapping to the 16 indices is clearly defined on its homepage, under "The Values". The palette index is under the column "16".

Note that this mapping does _not_ alter between light and dark color schemes (whereas in your config and in your screenshot it does). As demo

[2019-09-30 16:36] cdepillabout commented on #124
@egmontkob Thanks for catching this!  I guess the solarized website you are referring to is https://ethanschoonover.com/solarized/?

I don't personally use the solarized theme, so I wasn't aware it was incorrect.  I believe it was added by @craigem.

If you (or anyone else) wants to send a PR fixing this, I will happily merge it in.

Also, see https://github.com/cdepillabout/termonad/issues/94.  T

[2019-09-30 21:17] egmontkob commented on #124
I have to admit I don't use Solarized either (even though I like it a lot), and don't use Termonad either, and know very little about Haskell. I'm just randomly commenting (in fact, have reported the same problem for multiple terminals).

I placed the example file as my config but it didn't start up, and I didn't care enough to try harder. Which means I can't easily verify a candidate fix. So don'

[2019-09-30 21:50] craigem commented on #124
I'm not sure I grok the problem here. I use both light and dark Solarized themes everyday and my experience is that they work correctly, both as documented and as implemented.

I do recall having some issues mapping Solarized as defined into Termonad so that may be why egmontkob is having some dissonance between Solarized as it's defined and as it's been implemented.

Feel free to assign this to m

[2019-10-01 01:35] cdepillabout commented on #124
Since @egmontkob doesn't use Termonad (or Solarized...?), and @craigem says that he doesn't see any problems, I'm just going to go ahead and close this issue.

@craigem Although if you want to look into this and do find a problem, feel free to post here and I'll open this issue back up.

[2019-10-01 01:35] #124 closed

[2019-10-05 18:49] pkinsky opened #127 "Allow building termonad instances as standalone project via build script"
re:

I would like to implement XMonad's solution to this problem (a build script stored in the config directory that can be configured to, eg, build a stack project then copy over the executable)

See usage of the `buildscript` variable in this file for details: https://github.com/xmonad/xmonad/blob/master/src/XMonad/Core.hs#L644-L645

[2019-10-05 18:52] pkinsky commented on #127
I'm going to go ahead and implement this for my own use, posting here to see if there's support for using this approach

[2019-10-06 05:35] cdepillabout commented on #127
@pkinsky Thanks!

I've actually used the buildscript functionality from XMonad, so I think this would be a nice addition to Termonad.

However, ideally that functionality would be provided in some sort of external library (similar to how Termonad is using the `dyre` library).

Maybe this functionality could be added to `dyre`?  If the maintainer of `dyre` doesn't want to accept it, maybe you could

[2019-10-08 07:35] n4074 commented on #15
I'm encountering this issue while trying to build the latest version of Termonad on Nixos 19.03, with the following Nixos configuration:

[code]

As described, the doctest run takes 100% and eventually gets OOM-killed. For now I'm bypassing the issue by disabling tests:

[code]

Is this expected? Is the fix you referenced only applicable for 19.09? Thanks.

[2019-10-08 08:58] cdepillabout commented on #15
@n4074 Thanks for this report.

However, I just tried compiling this and running the doctests at the current HEAD of `master`, and it appears that the doctests finish within a minute or so.

[code]

[2019-10-08 09:04] cdepillabout commented on #15
Another thing you could try doing is just getting termonad from a recent release of nixpkgs.

Here is nixpkgs-unstable as of today:

[code]

The top-level `termonad-with-packages` is already using `termonad-2.0.0.0`, which is the latest release.

[2019-10-08 22:33] pkinsky commented on #127
my initial thought is that users of this functionality would have to accept losing the dyre auto-reload functionality (monitoring some directory referenced in the buildscript for changes and determining which changes require a reload seems like a hard problem). I was thinking that (at least for myself) I'd be willing to accept manually restarting termonad instances after updating the underlying pr

[2019-10-09 01:46] cdepillabout commented on #127
I thought the way that XMonad works is that is always ran the buildscript everytime it started up, and it re-execed itself if the buildscript created a new xmonad binary?  I was thinking that the buildscript functionality in Termonad could work the same?

Were you thinking it could be more advanced than that?

[2019-10-10 07:53] asheshambasta opened #128 "add explanation to README on how to use Termonad from nixpkgs"
(_edit from @cdepillabout_: This issue was about difficulty using Termonad from nixpkgs.  I think the main cause of this is that there is no explanation in the Termonad README of how to effectively use Termonad from nixpkgs.  Currently, the README only explains how to use Termonad when compiling from this repo.  An explanation of how to use Termonad directly from nixpkgs should be added to the REA

[2019-10-10 17:31] cdepillabout commented on #128
@asheshambasta Sorry you're having trouble with this.  Let me try to explain the two problems you're running into.

The problem here is that the version of Termonad from whatever nixpkgs you're using is too old.

The API exposed by Termonad often changes with major releases.  For instance, the API for termonad-2.0.0.0 is different from termonad-1.2.0.0.  If you install termonad-1.2.0.0 locally, bu

[2019-10-11 08:24] asheshambasta commented on #128
@cdepillabout thanks for the very detailed reply. That explains things clearly. But yes, I do agree that this needs to be added in the README.

By the time I read your reply, I could add my custom nix derivation that overcame this issue; and it was rather simple:

[code]

And in my configuration.nix: (`head -n 30`):

[code]

To pin it to a given commit.

That works for me, and the build takes a wh

[2019-10-11 08:43] cdepillabout commented on #128
@asheshambasta Thanks!  Please do!

[2019-10-11 22:13] ssbothwell opened #129 "Remove the single pixel white border around terminal"
Termonad frames have a single pixel white border. I don't see anything in the configuration examples to remove this. Is it possible?

[2019-10-11 23:19] pkinsky commented on #127
I had thought `dyre` updated _every_ running termonad instance whenever termonad.hs was updated instead of just running it once - that might not be correct.

[2019-10-13 05:51] n4074 commented on #15
Thanks for your response @cdepillabout . When I upped the RAM on the VM from 4GB to 8GB the doctests started finishing reasonably quickly. I guess it just uses a lot more memory than expected.

[2019-10-13 06:00] n4074 commented on #73
I've been looking into this and found that the background colour opacity is now properly applied. However, the ApplicationWindow is set behind the notebook and is opaque. Calling `widgetSetOpacity` on the ApplicationWindow also changes the opacity of the window title bar, which is unlikely to be what people want. The background of the window pane alone can be set to be fully transparent in CSS:
[c

[2019-10-13 07:06] cdepillabout commented on #129
@ssbothwell Thanks for bringing this up.

I never noticed the single pixel white border, but now that you've pointed it out, I can't _unsee_ it.

This was not intended.  If you (or anyone else) want to send a PR removing this single pixel boarder, I'd be happy to merge it.

[2019-10-13 07:18] cdepillabout commented on #127
Let me try to explain a little bit more about what is happening.

When you start Termonad, you normally call the `termonad` binary you've built with `stack` or Nix.  This binary starts up, and sees if you have a `~/.config/termonad/termonad.hs` file.  If you don't have this file, then Termonad starts up normally with all the default configuration options.

If you _do_ have `~/.config/termonad/term

[2019-10-13 07:23] cdepillabout commented on #73
@n4074 Thanks for looking into this.

To be honest, I don't use opacity, so I'm happy to go with whatever solution you think is best :-)

[2019-10-16 00:40] ssbothwell commented on #129
I haven't yet taken a look at the code base, but I would be interested in trying to fix this. Can you give me some suggestions about where to start looking to try to diagnose this?

[2019-10-17 15:49] cdepillabout commented on #129
@ssbothwell Thanks!

I'm not sure exactly where this could be coming from, but I have a few ideas.

Termonad is a really simple GTK app.  It has an outer [`GtkApplicationWindow`](http://hackage.haskell.org/package/gi-gtk-4.0.1/docs/GI-Gtk-Objects-ApplicationWindow.html), with a [`GtkBox`](http://hackage.haskell.org/package/gi-gtk-4.0.1/docs/GI-Gtk-Objects-Box.html) and [`GtkStack`](http://hackage.

[2019-10-19 08:47] cdepillabout commented on #82
This has been implemented in #130.  Thanks @jecaro!

[2019-10-19 08:47] #82 closed

[2019-10-19 09:10] cdepillabout opened #133 "load and save preferences from preferences dialog to file"
PR #130 (for issue #82) implemented a preferences dialog that allows the user to modify Termonad settings at runtime.

Here's what the preferences dialog currently looks like:

![image](https://user-images.githubusercontent.com/64804/67140838-90015500-f22c-11e9-8112-f90839e93bba.png)

However, as you can see from the warning, these settings are lost when you exit out of Termonad.

It would be nice

[2019-10-19 09:36] cdepillabout opened #134 "set colors in preferences dialog"
PR #130 (for issue #82) implemented a preferences dialog.  It would be convenient to have a way to set console colors from the preferences dialog.

The preferences dialog currently looks like this:

![image](https://user-images.githubusercontent.com/64804/67142714-dc9b5f00-f231-11e9-829d-6b35b760e745.png)

It would be nice to add another tab to the preferences dialog so that it could set colors.

[2019-10-19 15:49] ssbothwell commented on #129
Thanks! I'll see what I can do.

[2019-10-20 11:10] NorfairKing opened #135 "Typing feels sluggish, can this be quantified?"
I'm considering using termonad instead of urxvt, but something doesn't feel right. Is there a delay in how fast a character appears after you type it? Can this be quantified somehow?

[2019-10-20 11:56] cdepillabout commented on #135
Hi @NorfairKing.

As far as the Termonad code base is concerned, there isn't a delay programmed anywhere for how fast a character appears.

I do most of my development on a fast computer, so I haven't noticed any sort of delay.  I just tried opening up `xterm` and comparing it to typing in Termonad, and I couldn't really tell a difference.

I did have two thoughts about this though.

1. The keyboa

[2019-10-20 21:10] NorfairKing commented on #135
@cdepillabout Thank you for the very detailed comment.
I just tried out `roxterm` and it has the same feeling.
I don't want to waste any more of your time, especially because this issue is about my "feeling', so it would be nice if there was a way to check how long it took to render a character (and then do the same in `urxvt`).

[2019-10-20 23:15] cdepillabout commented on #135
I agree that this would be nice.

Unfortunately, this needs to be almost entirely handled by VTE.  You'd have to instrument the VTE code base with some sort of timing/profiling type functions.  Then you'd need to add a way to turn them on from the Termonad (or Roxterm) code base.

If you're interested in this, I'd recommend opening an issue about it on [VTE repo](https://gitlab.gnome.org/GNOME/vte

[2019-10-22 10:41] asheshambasta commented on #128
@cdepillabout I've not been able to look into this since I'm on a vacation. Its on my todo list as soon as I'm back.
Sorry about the delay.

[2019-11-01 07:47] jecaro commented on #133
I think a simple mechanism which covers most use cases would be:

1. If there is no config file, Termonad writes it with the default settings. Then, when the user validates the preferences dialog, it applies the settings and overrides the config file as well. The warning label is not shown in this case. This is the way most software handle this, so it is the expected behavior. It will be nice for

[2019-11-08 16:00] Reasonable-Solutions commented on #129
to debug stuff like this, you set GTK_DEBUG=interactive and then you click around a bit.
In this case the relevant css is `notebook { border: none; }`

[2019-11-09 04:49] cdepillabout opened #137 "add an option to the right-click context menu to open URLs in a browser"
@jecaro implemented a feature to add a right-click context menu to the terminal allowing for easy copy and paste in https://github.com/cdepillabout/termonad/pull/136.

It would be nice to add special support for right clicking on a URL to be opened in a web browser.

It should look roughly like the following (picture from Roxterm):

![file5](https://user-images.githubusercontent.com/64804/44628923

[2019-11-09 05:08] cdepillabout commented on #133
@jecaro Sorry for taking a while to get back to you about this!

I think the strategy you have proposed is a good solution.  If you want to send a PR implementing this, I would accept it!

[2019-11-09 06:36] cdepillabout commented on #129
Closed in #138.

@ssbothwell Thanks for bringing this up.

@Reasonable-Solutions Thanks for the tip about `GTK_DEBUG=interactive`.  I never knew about this!

[2019-11-09 06:52] #129 closed

[2019-11-13 07:23] jecaro commented on #133
Great, I'll start working on this very soon.

[2019-11-25 04:23] toastal opened #139 "Alias color for colour"
Given the nature of English's spelling controversies and other application configurations and things like CSS, VIM, et.al. only supporting `color`, it seems odd to not have an alias for the popular alternative spelling.

When I look at the issue titles in this project being split on the spelling, it seems an obvious way to prevent mistakes that people would expect to work.

[2019-11-25 04:33] cdepillabout commented on #139
@toastal Thanks for this suggestion.

I originally went with `colour` instead of `color` because Termonad is using the [colour](http://hackage.haskell.org/package/colour) library (which goes with the `colour` spelling).

Since we directly re-export the `Colour` type defined in `colour`, I decided on using the `colour` spelling everywhere in the code.  (Any uses of the `color` spelling in function

[2019-11-25 05:44] toastal commented on #139
That makes a lot more sense. There's even a squabble in the title "colour: A model for human colour/color perception".

[2019-12-07 12:10] cdepillabout commented on #133
This has mostly been implemented in #140.

This is implemented as described in https://github.com/cdepillabout/termonad/issues/133#issuecomment-548697841.

At some point, it might be nice to figure out a way to an end-user to use both preferences from the preferences file in `~/.config/termonad/termonad.yaml`, and the Haskell settings in `~/.config/termonad/termonad.hs`.

But for now, I think forc

[2019-12-07 12:10] #133 closed

[2019-12-29 20:21] mimi1vx opened #141 "not possible build with Cabal-3.0.0.0"
cabal-install 3.0.0.0 , ghc-8.8.1, Cabal-3.0.0.0
`$ cabal new-install termonad` :

[code]

[2019-12-30 02:44] cdepillabout commented on #141
I believe this is a problem in `Setup.hs` from `Cabal-3.0.0.0`, where the API has changed slightly from `Cabal-2.4.0.0` (which is used by default in ghc-8.6.5).

I'd be happy to accept a PR updating this to build with `Cabal-3.0.0.0`.

[2019-12-30 11:36] mimi1vx opened #142 "not possible build with ghc-8.8.x"
ghc-8.8.x changed work with `fail`

[code]

[2019-12-30 12:15] cdepillabout commented on #142
Thanks for bringing this up.

This should actually just throw an exception.  This could use [`throwIO`](http://hackage.haskell.org/package/base-4.12.0.0/docs/Control-Exception.html#v:throwIO) and [`userError`](http://hackage.haskell.org/package/base-4.12.0.0/docs/System-IO-Error.html#v:userError).

Although this also appears to be what `fail` does for the `IO` monad, so maybe just importing `fail`

[2020-02-26 01:59] #141 closed

[2020-03-02 10:23] cdepillabout commented on #99
This `stack-fhs-env.nix` is no longer working for `stack-2.1.3.1`.  I've removed it.

If you want to do development for Termonad on NixOS, you must use `nix-shell`, and then use `cabal build` within it.

[2020-04-29 21:05] tom-audm opened #146 "apt installed version doesn't boot"
[code]

[2020-04-30 02:13] cdepillabout commented on #146
@tom-audm Sorry you're having trouble with Termonad.

However, the version of Termonad you're using is quite old, and I don't have any control over how Termonad is packaged in other distros.

I'd suggest trying to install from source with a tool like `stack`.

-----------------------------

As for your specific problem:

I believe Termonad uses the above image as an icon.  The file `/usr/share/ter

[2020-04-30 02:14] #146 closed

[2020-05-16 15:49] mimosa67 opened #147 "need to press Esc twice to get to normal mode in Vim"
I'm using termonad in NixOS (with KDE), usually with screen, and see this behaviour. It doesn't happen in Konsole.
EDIT My apologies, this seems to be an issue with screen (or something else) - the same thing _does_ happen in Konsole, when using screen, if there is more than one window.

[2020-05-16 16:27] #147 closed

[2020-05-25 04:26] jiapei100 opened #150 "Failed to run stack install --allow-different-user"
[code]

So, any suggestions?

[2020-05-25 06:16] cdepillabout commented on #150
@jiapei100 Hmm, my guess is that you need some sort of development files for the VTE package?

Do you have some sort of `vte-dev` package that you can install?  I imagine the gir files will be in that.

On my system, the vte package installs a file called `lib/girepository-1.0/Vte-2.91.typelib`.  I believe this is what `gi-vte` uses.

If you figure out a fix to this error, could you send a PR upda

[2020-05-26 16:21] junjihashimoto opened #151 "Support for OSC1337 or SIXEL to show graphics"
It would be nice to support OSC1337 or SIXEL and be able to display graphics.

https://chromium.googlesource.com/apps/libapps/+/master/hterm/doc/ControlSequences.md#OSC-1337
https://en.wikipedia.org/wiki/Sixel

[2020-05-26 18:13] Unrooted opened #152 "Error on WSL and Windows."
I was just thinking and trying if there's a way to do that on both of them. I'm not really into Haskell that much, but those are the errors I got:
![image](https://user-images.githubusercontent.com/30440603/82935029-bc343f80-9f8c-11ea-8ebc-b1000241517f.png)
![image](https://user-images.githubusercontent.com/30440603/82935041-be969980-9f8c-11ea-8100-0ed120e1de50.png)
Maybe they'll tell you somethin

[2020-05-27 00:21] cdepillabout commented on #151
Termonad is just using [VTE](https://wiki.gnome.org/Apps/Terminal/VTE) for the actual terminal emulator, so support for OSC1337 or SIXEL would have to be added to VTE first.

It looks like there has been some activity recently on a VTE bug about adding support for SIXEL: https://bugzilla.gnome.org/show_bug.cgi?id=729204

[2020-05-27 00:27] cdepillabout commented on #152
@Unrooted Thanks for submitting this bug.

I've never tried building Termonad on Windows (or WSL), so I'm not sure if it will work.

As for the error you're seeing, my guess is that the version of the `stack` build tool you're using is too old.

Here's the version I'm using locally:

[code]

My guess is that if you upgrade `stack`, you will get further in the build process (although I don't know h

[2020-05-27 07:42] Unrooted commented on #152
Here's what I've got trying both `stack upgrade` and `stack --version`:
![image](https://user-images.githubusercontent.com/30440603/82985174-d9502900-9ff3-11ea-889f-bae3e7b62fc1.png)
It was added to the PATH.
Since WSL does have full Linux kernel, I thought about building it. Also, `stack` works well on Windows, that's what it always did. Build process should work fine as it is with other Haskell

[2020-05-27 13:39] cdepillabout commented on #152
Hmm, I don't know why you could be having this problem.

The other thought I had is that maybe a problem could be caused because the `stack.yaml` file is a symlink?

[code]

If you did something like `mv stack-lts-15.yaml stack.yaml` and then `stack build`, does that work?

[2020-05-27 17:40] Unrooted commented on #152
Okay, I've tried what you said and after this it builds:
![image](https://user-images.githubusercontent.com/30440603/83053257-c15ac280-a050-11ea-80d3-832bd6d15f77.png)
After trying `stack run` I've got a problem, like this:
![image](https://user-images.githubusercontent.com/30440603/83050820-64114200-a04d-11ea-9329-e13fdbac3dfb.png)
But then, I've installed Vcxsrv, configured it, done config on th

[2020-05-27 17:46] cdepillabout commented on #152
Yes, please do!  That would be great.

I'm glad you got this working.

[2020-05-27 17:46] #152 closed

[2020-05-27 18:59] formula-spectre opened #153 "missing termonad module"
os: manjaro, installed via stack. config: the solarized example one. when executing termonad similar error are given:
/tmp/cabal-install.-2163/dist-newstyle/tmp/src-2164/ghc-paths-0.1.0.12/dist/setup/setup.hs:10:1:
error:
Could not find module ‘Termonad.Config.Vec’
There are files missing in the ‘Cabal-3.2.0.0’ package,
try running 'ghc-pkg check'.
Use -v (or `:set -v` in ghci) to see a list of th

[2020-05-28 01:49] cdepillabout commented on #153
Hmm, so this seems somewhat strange.

You've said you installed with `stack`, but the error you've given has a path with `cabal-install` and `dist-newstyle` in the name, which makes me think you're trying to do something strange.

I'm not sure exactly what is going on, but my guess is that you've installed Termonad with `stack`, but you're trying to run `termonad` with `cabal`?

If you wanted to t

[2020-05-28 06:45] junjihashimoto commented on #151
Thank you for sharing current status.

[2020-05-28 07:39] cdepillabout commented on #142
This has been fixed in #145.

[2020-05-28 07:39] #142 closed

[2020-05-28 07:41] cdepillabout commented on #139
I'm going to go ahead and close this, because it is relatively minor.

But if anyone is annoyed enough to pick this up, please feel free to comment here and I could re-open this issue.

[2020-05-28 07:41] #139 closed

[2020-05-28 09:01] formula-spectre commented on #153
that was an example when trying to install something with cabal.

[2020-05-28 09:22] cdepillabout commented on #153
@formula-spectre If you want me to try to help debug this, could you list all the commands you've used to both install Termonad, and then run it? (Including things like whether or not the Termonad window opens, whether you are using cabal or stack, etc)

[2020-06-22 06:46] felipebalbi opened #156 "terminalSpawnSync deprecation error"
while trying to build `Termonad` I get the following deprecation error:

[code]

I've been looking on GI.Vte docs, but terminalSpawnAsync isn't defined anywhere.

[2020-06-22 07:09] cdepillabout commented on #156
Thanks for reporting this.

This has been around for a long time now, but I haven't looked into actually figuring it out.

If someone wants to figure it out and send a PR, I'd be happy to merge it in.

[2020-06-22 07:13] felipebalbi commented on #156
I think this requires a change in `gi-vte` before modifying `Termonad`.

[2020-06-29 18:24] felipebalbi commented on #156
Hi @cdepillabout, `gi-vte` was updated and I'm working on trying to remove `terminalSpawnSync`. Having issues compiling with latest `haskell-gi` and friends. I'll keep trying tomorrow and update this issue again.

[2020-06-30 02:09] cdepillabout commented on #156
@felipebalbi Thanks for the update.  For now, you can feel free to use an older version of `gi-vte`.

I try to make Termonad compilable with the latest LTS version (although I don't know if I ever updated it for LTS-16).

--------------------------------------

If fixing the `terminalSpawnSync` thing requires the latest version of `gi-vte`, you can feel free to first send a PR updating Termonad to

[2020-07-14 13:52] #70 closed

[2020-07-17 10:56] Lockne opened #162 "Stack Build fails because of ambiguous occurences"
Hello!
Beginner Haskell user here.

When building Termonad with Stack, I get the following error when compiling `src/Termonad/App.hs:`

` Ambiguous occurrence ‘fail’
    It could refer to either ‘Termonad.Prelude.fail’,
                             imported from ‘Termonad.Prelude’ at src/Termonad/App.hs:5:1-23
                             (and originally defined in ‘GHC.Base’)

[2020-07-17 12:27] cdepillabout commented on #162
@Lockne Thanks for posting this issue!

My guess as to what is happening is that you're trying to build an older version of Termonad with a newer Stackage LTS (newer GHC), and this error is occurring.

Would you be able to try to rebuild with the latest release of Termonad (or just use the current `master` branch, which is at commit 95eb538b as of this writing)?

That should hopefully work for you

[2020-07-18 02:18] Lockne commented on #162
@cdepillabout Thanks for the reply. It was very helpful!

I had indeed cloned the latest release of Termonad yesterday.

Initially I built  Termonad with the command `stack build --resolver lts-14.25` using `GHC 8.6`. That's when I got the errors. But today, following your suggestion, I rebuilt Termonad after upgrading to `GHC 8.8` - which was not installed on my laptop when I was building it the

[2020-07-18 02:43] cdepillabout commented on #162
Ah, sorry, I had thought that this line would stop you from being able to use GHC-8.6:

https://github.com/cdepillabout/termonad/blob/95eb538bcfbeba1a7291b5abfaa4053b66db0587/termonad.cabal#L57

I thought this would force you to use GHC-8.8 (since the `base` package is tied to a specific version of GHC).  However, I guess this didn't work.

Oh well, at least you got it working!  Thanks for updatin

[2020-07-18 02:43] #162 closed

[2020-08-05 14:50] ShrykeWindgrace opened #163 "Documentation missing from hackage for 0.4.0.0"
Hi!

It seems that the haddock documentation is missing from hackage for the latest `termonad` (https://hackage.haskell.org/package/termonad).

The previous version is ok (https://hackage.haskell.org/package/termonad-3.1.0.1).

[2020-08-06 01:22] cdepillabout commented on #163
Thanks for letting me know.  I just uploaded the docs for 4.0.0.0.

[2020-08-06 01:22] #163 closed

[2020-08-19 14:11] yoctocell opened #165 "recompiled Termonad has references to files from /nix/store that are invalid after garbage collecting"
When I install termonad with `nix-build` and run `./result/bin/termonad` I get an error saying

[code]

It seems to be looking for the image for termonad 3.1.0.1, but I am on version 4.0.0.1. Is this termonad's problem or is it nix's problem?

[2020-08-20 01:07] cdepillabout commented on #165
@yoctocell Could you list the exactly commands you used to build and run Termonad?

Also, just to make sure, you may want to delete `~/.cache/termonad`, which holds your compiled Termonad binary.  It is possible that there is a compiled version of Termonad in that directory that is getting picked up for whatever reason.

[2020-08-20 06:12] yoctocell commented on #165
This solved the problem for me, Thanks!

[2020-08-26 00:13] cdepillabout commented on #4
Closed in #166

[2020-08-26 00:13] #4 closed

[2020-08-26 00:15] cdepillabout commented on #153
I'm going to go ahead and close this since there hasn't been any activity recently.  Please feel free to respond or reopen if you're still running into this.

[2020-08-26 00:15] #153 closed

[2020-08-26 00:17] cdepillabout commented on #156
I think this has been fixed in gi-vte in haskell-gi/haskell-gi#297.  Also, Termonad now compiles successfully with the latest version of gi-vte.

So I think all that is left now is to just switch over to using `terminalSpawnAsync`, since it should be available from the latest version of gi-vte.

[2020-08-26 00:18] cdepillabout commented on #150
I'm going to close this since there hasn't been any activity, but please feel free to reply or reopen it if you're still having problems.

[2020-08-26 00:18] #150 closed

[2020-08-26 00:23] cdepillabout commented on #135
I'm going to close this since we haven't done anything about this in the past year, and I think this should mostly be a problem in the VTE codebase.

However if someone else is experiencing this, or it could be shown to be a problem in Termonad, please feel free to reopen.

[2020-08-26 00:23] #135 closed

[2020-08-26 00:25] cdepillabout commented on #128
Closing this since I think this info should already be in the README, but please feel free to send a PR improving things if the current README is not adequate.

[2020-08-26 00:25] #128 closed

[2020-09-22 03:01] c4dr01d opened #168 "Port termonad to Guix System"
Hi, I'm a user of NixOS and Guix System. After I used termonad on NixOS, I think that termonad is the most suitable terminal for me. I want to use termonad on Guix System. I don't know termonad can be transplant to Guix System. It's possible?

[2020-09-22 03:46] cdepillabout commented on #168
Hi, since Termonad is usable from nixpkgs, it should also be usable from Guix.  However, I don't have any experience with Guix, so I'm not sure how to best support it.

I don't plan on adding Guix support directly to this repo, but please feel free to create an issue upstream in the Guix repository.  Termonad is pretty similar to XMonad, and I bet that Guix has support for XMonad.  The code should

[2020-09-22 03:46] #168 closed

[2020-09-24 04:48] c4dr01d opened #169 "Arch Linux build error"
I following the instruction in README to install termonad at arch linux, I got this error:
![截屏2020-09-24 下午12 47 09](https://user-images.githubusercontent.com/50952350/94102208-3229b400-fe64-11ea-8fe2-c0294257aea5.png)

[2020-09-24 04:51] c4dr01d commented on #169
I'm using stack version is 2.3.1

[2020-09-24 05:32] cdepillabout commented on #169
@c4dr01d Could you post the full build output?

From this screen-shot, it is not clear why `gi-glib` is failing to build.

[2020-09-24 06:29] c4dr01d commented on #169
@cdepillabout
![截屏2020-09-24 下午2 28 24](https://user-images.githubusercontent.com/50952350/94108678-4f657f00-fe72-11ea-8489-23d8f8e85ede.png)

[2020-09-24 06:59] cdepillabout commented on #169
The error is:

[code]

These types of error can be caused by using either too new or too old versions of the gtk/glib-related libraries.

Termonad depends on the `haskell-gi` family of Haskell libraries (and this includes the `gi-glib` package that you're having trouble with).  The `haskell-gi` and `gi-glib` package versions are determined by the `resolver` in the `stack.yaml` file.

If you're a H

[2020-09-24 09:10] c4dr01d commented on #169
@cdepillabout I just search the upstream, I founded existing issue for my question.I'll post my error to there, but the way, thanks for your answer.

[2020-09-24 13:49] cdepillabout commented on #169
@c4dr01d I'll close this for now, but if you find that something can be done in Termonad to fix this, please feel fee to re-open.

Also, please post a link to the upstream issue so people who find this issue in the future know where to get more information.

[2020-09-24 13:49] #169 closed

[2020-09-25 02:30] c4dr01d commented on #169
I founded this [#318](https://github.com/haskell-gi/haskell-gi/issues/318) issue can fix the docsection problem temporarily, ths upstream repository maintainer say will fix the later.

[2020-09-30 07:52] maridonkers opened #170 "Add `show menu` menu option to context menu"
(So that a disabled menu can again be enabled without having to manually edit the settings file.)

[code]

[2020-09-30 13:25] cdepillabout commented on #170
This is a good suggestion, thanks!

For anyone interested in implementing this, you can edit the menu in this block of code:

https://github.com/cdepillabout/termonad/blob/8f39a234795080b5e82a464fe1224f6b3f5a592c/src/Termonad/Term.hs#L473-L485

I'm not sure the best way to define an action (like the `app.copy` and `app.paste` in the above code), but `app.copy` and `app.paste` are also used here:

[2020-10-03 09:39] maridonkers commented on #170
Adding the existing preferences dialog to the context menu is the easier way --a single line of code-- and also makes the Show menu option and more available.

[code]
Have changed, built and tried it on NixOS (via nix-build) and it works fine. This looks like a great opportunity to create my first pull request. Let me read up on that.

[2020-10-03 10:49] cdepillabout commented on #170
@maridonkers Sounds like a good idea, please do!

[2020-10-03 15:18] #170 closed

[2020-11-03 20:43] thkoch2001 commented on #81
On Debian systems, a terminal emulator that wants to provide the virtual package x-terminal-emulator must understand the -e and -T options:
https://www.debian.org/doc/debian-policy/ch-customized-programs.html#packages-providing-a-terminal-emulator

BTW: I learned about termonad now because it entered the Debian archive.

[2020-11-04 00:00] cdepillabout commented on #81
@thkoch2001 Thanks for the heads up!

I'd be happy to take a PR adding support for `-e` and `-T`.  From the linked webpage:

[code]

[2020-12-13 00:20] czifro commented on #80
I'm also having difficulty installing on MacOS:
[code]

System Info:
[code]

[2020-12-13 01:24] cdepillabout commented on #80
My guess here is that Termonad depends on the Haskell package [`gi-vte`](https://hackage.haskell.org/package/gi-vte), which depends on the GTK package `vte` (for the actual terminal emulator), which depends on `systemd`, which can only be built on Linux.

My suggestion is to inspect the derivation for `vte` and see if there is a way to remove the `systemd` dependency.  `vte` is pretty widely used,

[2020-12-25 19:32] peti opened #174 "doctests segfault when run with ghc-8.10.3"
Citing from https://hydra.nixos.org/build/133745495:

[code]

The output is not particularly helpful, I'm afraid.

[2020-12-25 19:49] sternenseemann commented on #174
Log from building manually:

[code]

Seems like an I/O issue rather than a genuine test failure.

[2020-12-27 12:13] cdepillabout commented on #174
Running the doctests directly appears to give an segfault.

[code]

Sometimes running `cabal test` or the doctests directly doesn't segfault, but works correctly.  It appears to be randomly segfaulting.

I've only confirmed this after updating to ghc-8.10.3.  This doesn't appear to be happening with ghc-8.10.2.  The following diff can be used to test ghc-8.10.2:

[code]

Maybe there is some sort o

[2020-12-27 13:07] cdepillabout commented on #174
I've released a new version on Hackage that disables the doctests when building with ghc-8.10.3: https://hackage.haskell.org/package/termonad-4.0.1.2.

This should work-around the test failure and get Termonad building again in nixpkgs.

However, I haven't actually figured out the underlying problem.

[2020-12-27 13:54] peti commented on #174
My impression is that running doctest as a Cabal test suite is way too fragile to be worthwhile. I've tried to do in some of my packages and I've had so much trouble that I ultimately ended up adopting the view that doctest is something you run in CI, but not at build time. I've been much happier since and I've also been able to convert those packages back to a `Simple` build type, which is pretty

[2020-12-28 00:15] cdepillabout commented on #174
One of the big problems is that doctest requires one package-db/environment to be available when the cabal test suite is compiled, and a _different_ package-db/environment to be available when the test suite is actually run.  Cabal doesn't provide any way of describing this situation, because it doesn't have any support for describing "run-time" haskell dependencies.

Because of this, doctests end

[2020-12-30 21:40] quasicomputational commented on #174
I'm just trying to reproduce this but failing at an early hurdle (getting some of the GTK bindings installed). Is this only happening on Nix, or is it happening with Stack and cabal-install as well?

I had a look at the doctest set up for termonad and it looks okay to me.

Can this be reproduced without doctest in the loop? doctest is, fundamentally, a wrapper around GHCi; if you can reproduce the

[2020-12-31 03:12] cdepillabout commented on #174
Thanks a lot for taking a look at this!

The GTK dependencies are quite annoying to install if you're not using Nix.

I just took a look at building Termonad on Debian with `stack` (without Nix involved at all).  I have been able to reproduce the segfaults, again with only GHC-8.10.2.

This is a good idea, but unfortunately I don't know enough about `doctest` to be able to reproduce this.

If I ha

[2021-01-02 22:18] M0M097 opened #176 "enable config option for set_bold_is_bright"
In almost every terminal emulator bold text uses bright colors. A option to enable this or some help to do that would be great.

The default bold blue text is almost impossible to read.

[2021-01-03 02:35] cdepillabout commented on #176
@M0M097 Could you post a screen shot that doesn't look good to you?

Font weight (bold) and colors are orthogonal as far as most terminals go.  You can set bold vs. not bold completely separate from whether you use the basic or extended palette:

https://hackage.haskell.org/package/termonad-4.0.1.2/docs/Termonad-Config-Colour.html#t:Palette

------------------------------------------------------

[2021-01-03 08:47] M0M097 commented on #176
Keep in mind that just changing the main blue color may result in ugly tui applications.

I'm aware that boldness and bright color are separated things but usually they are combined in terminals since back in the day \033[1; was setting bold and bright together. In the mentioned vte this is achieved by  `set_bold_is_bright(true)`. And in st there is the following code:

`/* Change basic system col

[2021-01-03 13:10] cdepillabout commented on #176
@M0M097 Ah, thanks for the pointer to `set_bold_is_bright`.

It looks like `gi-vte` exposes this option as well: http://hackage.haskell.org/package/gi-vte-2.91.27/docs/GI-Vte-Objects-Terminal.html#v:terminalSetBoldIsBright

If you (or anyone else) wanted to send a PR adding this option, I'd be happy to merge it in.

I imagine you'd need to add it to the Termonad config in this file:

https://githu

[2021-01-03 13:17] cdepillabout opened #177 "make default blue color lighter"
The default blue color in Termonad is quite dark.  If you have text in the default blue color, it is quite hard to read on a terminal with a dark background.

Termonad just provides the default colors from VTE, but it would be nice to deviate from the default VTE colors and provide a blue that is lighter, since the background color in Termonad is dark by default.

I explain a little more about thi

[2021-01-03 14:45] M0M097 commented on #177
As mentioned in the other issue I would be careful with that since it can lead to ugly tui application. So if you try to change the default colors check if for example nmtui looks ok.

Since all cli programs I'm aware of only use blue text in combination with bold fonts I still think it would be easier to enable boldisbright by default to solve the problem with unreadable blue text.

[2021-01-03 15:11] M0M097 commented on #176
Hardcoding `terminalSetBoldIsBright vtTerm True` in termonad/src/Termonad/Term.hs works fine so it should be easy to add an option to Types.hs .

I tried to implement that in the same way as `confirmExit` is implemented but I'm getting a parsing error if I try to compile it. I basically don't know any Haskell so I must have made an obvious mistake.

Anyway, thanks for your suggestions. With hardco

[2021-01-04 01:56] cdepillabout commented on #177
Here are what the standard and light blue colors look like with the current Termonad defaults (taken from https://github.com/cdepillabout/termonad/pull/178#issuecomment-753711012):

![image](https://user-images.githubusercontent.com/64804/103494706-504b7b00-4e7b-11eb-8af7-a40683d23c5d.png)

You can see that they are a little too dark for a black background.

[2021-01-04 03:00] cdepillabout commented on #176
Implemented in #178

[2021-01-04 03:00] #176 closed

[2021-01-04 03:05] cdepillabout commented on #12
This has been implemented in #136.

I have created a separate issue about additional actions when right-clicking a URL: https://github.com/cdepillabout/termonad/issues/137

[2021-01-04 03:05] #12 closed

[2021-01-04 03:09] cdepillabout commented on #81
It would also be nice to have an option like `--ignore-conf-file` that ignores the `~/.config/termonad/termonad.hs` and `~/.config/termonad/termonad.yaml` configuration files and just launches termonad with the default config.

[2021-01-04 12:26] M0M097 opened #179 "Vim clipboard should be persistent"
If I use Vim in xterm I can copy text to various clipboards, for example highlighting copies to the default X clipboard and an additional "+y to the "normal" clipboard. If I now leave vim I can paste the content with middle click from the X clipboard or shift-insert from the normal one.

The same works with termonad as long as vim is running: I can copy text by highlighting and paste it into anoth

[2021-01-05 14:38] M0M097 commented on #179
Ok, it was my mistake since I did not understand how clipboards work. The issue was the following:

to remember the content of a clipboard when the application from which it was copied is closed a clipboard manager is needed. There are several types of clipboard managers:

1. Big DE like KDE ship with an integrated clipboard manger therefore one can paste stuff regardless if the application from w

[2021-01-05 14:38] #179 closed

[2021-01-05 15:04] cdepillabout commented on #179
@M0M097 Thanks for summing this up!

I think this is a very good summary of the situation for folks that use a minimal window manager.

[2021-01-08 02:42] juhp commented on #177
Just wondering (not that it should stop termonad), has there been any attempt to address this upstream in libvte itself?

[2021-01-08 03:06] cdepillabout commented on #177
@juhp That's a good point.

I took a quick look at the VTE issue tracker, but I didn't see any issues about it: https://gitlab.gnome.org/GNOME/vte/-/issues

It is possible that upstream VTE defaults to a white background, so they don't see this problem.  It is also possible that Termonad is just using a different color of blue than VTE defaults to (although I'm pretty sure this is not the case).

[2021-01-08 03:07] cdepillabout commented on #85
There does appear to be an issue on the VTE issue tracker about ligature support, but it doesn't appear to have any progress: https://gitlab.gnome.org/GNOME/vte/-/issues/192

[2021-01-08 03:13] cdepillabout commented on #151
It looks like there has been some work on sixel support in VTE over the last couple months: https://gitlab.gnome.org/GNOME/vte/-/issues/253 (and other related issues: https://gitlab.gnome.org/GNOME/vte/-/issues?scope=all&utf8=%E2%9C%93&state=opened&search=sixel)

I haven't really looked into this, but my guess is that in order to get this working, all you'd have to do is build VTE from the `master

[2021-02-10 19:10] j6carey commented on #174
This is just speculation, but [GHC bug 19149](https://gitlab.haskell.org/ghc/ghc/-/issues/19149) might be relevant.

[2021-02-11 01:12] cdepillabout commented on #174
@j6carey Great find, thanks for letting me know!

Although it seems strange that this bug would only be triggered when running under doctest, and not during normal use.

It looks like there will be a fix in GHC 8.10.4, so I'll be on that lookout for that.

[2021-02-11 04:08] j6carey commented on #174
Well, it might be triggered under normal use too, and in any case I have no direct evidence.  It's mainly that it is: 1) a crash, and 2) specific to 8.10.3.  Those match this issue.

[2021-02-11 11:46] cdepillabout commented on #174
I sent a PR where I try bumping to ghc-8.10.4, but the doctests still appear to randomly fail, similar to 8.10.3: https://github.com/cdepillabout/termonad/pull/182

[2021-02-11 17:19] j6carey commented on #174
Ah, that's too bad.  I'd hoped it would help.

[2021-02-15 21:07] j6carey commented on #174
Running doctest as a separate process seems to avoid the problem.

[2021-02-16 00:54] cdepillabout commented on #174
@j6carey That's good to know.  I'll have to try that out.

Is the package you implemented this for open source?  Could you link to the source code?

[2021-02-16 01:08] j6carey commented on #174
I'm afraid not, but it's really simple.  In the `Main.hs` for your doctest target, replace
[code]
with
[code]
(Assuming that I didn't make some typo.)

In the .cabal file, keep the `doctest` in the `build-depends` for the doctest target to ensure that `cabal2nix` picks up the dependency upon the `doctest` package and thus includes `doctest` in the path.  Of course, add `process` to the `build-depe

[2021-02-16 13:59] cdepillabout commented on #174
@j6carey Thanks for the recommendation.

I sent a PR implementing this in https://github.com/cdepillabout/termonad/pull/183.  As far as I can tell, it no longer crashes!

There are still two things I wanted to check with this:

- [ ] check if using `forkOS` or `forkIO` and running the `doctest` function (instead of calling out to the `doctest` executable) crashes
- [ ] check if this also works whe

[2021-02-17 13:48] cdepillabout commented on #174
I sent a commit 70748cc on #183 that attemps to use `forkIO`, `forkOS`, and `forkProcess` to run the `doctest` function (instead of calling out to the `doctest` executable), but none of these appear to work.

The only thing that appears to work is directly calling the `doctest` executable.

[2021-02-17 14:08] cdepillabout commented on #174
@j6carey In cdab2d8 from #183 I was able to run doctests normally by just removing `-with-rtsopts=-N`.  I tried this because I noticed that the `doctest` binary doesn't have this set in the cabal file.

Maybe this is the simplest explanation.

[2021-03-02 01:52] cdepillabout commented on #174
Here's another GHC segfault that only happens in 8.10.{3,4} that might be related: https://gitlab.haskell.org/ghc/ghc/-/issues/19417

[2021-04-03 13:21] manveru opened #186 "Setting the window title on tab switches"
So after diving into the source for a bit, i found that one can not only set the custom config, but also custom hooks, and so I came up with this little snippet to set the window title to what the shell desires.

[code]

What I couldn't figure out yet is what callback to use to also set the window title to the current tab title when you change tabs. I'd be very thankful for any ideas regarding tha

[2021-04-04 01:29] cdepillabout commented on #186
Thanks for posting this.  This sounds like it would be a good improvement.

Yeah, that sounds reasonable.  Do you want to send a PR for this?

There really aren't that many callbacks yet.  I've been adding them on an as-need basis when users request them.

Here's the four functions that deal with changing tabs.  Would you want to send a PR adding a new callback here?

https://github.com/cdepillabo

[2021-05-09 02:41] yaitskov opened #187 "Hotkeys like Ctrl-A and Alt-b are not working"
in all good terminals I used before Alt-b is moving cursor a word backward.

[2021-05-09 05:02] cdepillabout commented on #174
I've fixed this in https://github.com/cdepillabout/termonad/pull/188.

[2021-05-09 05:02] #174 closed

[2021-05-09 05:34] cdepillabout commented on #187
Alt-b is a keyboard shortcut for `bash` (and probably other similar shells):

http://www.keyxl.com/aaaf192/83/Linux-Bash-Shell-keyboard-shortcuts.htm

Termonad shouldn't be intercepting this keyboard shortcut.

I'm not sure what could be your problem.  What happens when you press Alt-b?  Are you using a shell that supports the Alt-b shortcut (like bash in emacs-keyboard mode)?  Are you sure Alt-b

[2021-05-09 05:52] cdepillabout opened #189 "preferences file can't be loaded from old version"
It appears there is a problem loading the preferences file if it is missing fields.

Here is what my preferences file looks like:

[code]

This is from an old version of Termonad.  You can see that it is missing the `boldIsBright` option added in https://github.com/cdepillabout/termonad/issues/176.

When I try to run Termonad with this preferences file, I get the following error:

[code]

If I del

[2021-05-09 05:52] cdepillabout commented on #189
cc @jecaro

[2021-05-09 13:22] jecaro commented on #189
I agree that the config file parser should be able to handle missing fields. It is the behaviour the user expects.

I'll try to find time to work on this this week.

[2021-05-09 23:49] yaitskov commented on #187
I thought terminal emulator intercepts such short cuts.
Ctrl-A and Alt-b don't work and produce garbage sort of "[^"
Switching keyboard layout is glitchy (I use double shift).
I run Debian 10 and got termonad through `nix-shell -p pkgs.haskellPackages.termonad` in gnome-terminal.
I didn't do special shell configuration and keen to stock bash.

[2021-05-10 00:51] cdepillabout commented on #187
Hmm, I'm not sure what your problem could be.  I haven't run into this myself, nor have I heard of anyone else run into this.

My guess is that this isn't a Termonad problem, since there isn't any code in Termonad for swallowing shortcut keys like Ctrl-A or Alt-b.

I'll keep this issue open for a while in case anyone else runs into this problem.

[2021-05-24 06:24] MarkuBu opened #192 "stack install failed: error while loading shared libraries: libHSsafe-exceptions"
I tried to install termonad on Arch, but it failed with this error message

[code]

I have a really basic installation (just base, xorg and xmonad). Maybe I miss some package you normally would have?

[2021-05-25 02:56] cdepillabout commented on #192
`libHSsafe-exceptions-0.1.7.1-2nQDIOXsnVo6dXNiCfbAXS-ghc8.10.4.so` is the shared library for the [`safe-exceptions`](https://hackage.haskell.org/package/safe-exceptions) package (which I assume is a transitive dependency of Termonad).

This is a strange error, and not something I ever see before.  It is quite unusual for `stack` to not be able to load a shared library that it presumably has built.

[2021-05-25 02:56] #192 closed

[2021-06-16 12:45] #189 closed

[2021-06-17 01:36] cdepillabout commented on #187
I'm going to go ahead and close this since I can't reproduce it, and it doesn't seem like anyone else has run into the same problem.

If you do some more digging and can figure out the underlying problem, I'm happy to re-open this issue though.

-------------------------------

Also, in general, if you want to get termonad through nixpkgs, you should get it from the top-level `termonad-with-packag

[2021-06-17 01:36] #187 closed

[2021-06-27 06:17] OmJo93 opened #194 "Could not find module ‘GI.GModule.Structs.Module’"
Trying to build and install termonad on Arch Linux, I cloned https://github.com/cdepillabout/termonad successfully but when I run `stack install` I get an error.

[code]

I also tried `cabal install` but that fails as well.

[code]

[2021-07-01 04:35] cdepillabout commented on #194
It looks like the errors from both `stack` and `cabal` are different.  Let me try to answer for them separately.

----------------------------------------------------------------------------

For `stack`, the error is:

[code]

This happens when you're building the https://hackage.haskell.org/package/gi-gdkpixbuf package.

The error seems to say that `gi-gdkpixbuf` is trying to import the Haskell

[2021-07-02 04:01] OmJo93 commented on #194
Thanks for the detailed response. I decided I didn't have the time to play around with libgmodule or my cabal installation and went with the Nix installation and termonad successfully installed. I appreciate the assistance!

[2021-07-02 04:01] #194 closed

[2021-09-01 05:25] cdepillabout opened #196 "when getting Termonad from nixpkgs, recommend users use `termonad` instead of `termonad-with-packages`"
I sent a PR adding a top-level `termonad` key to nixpkgs: https://github.com/NixOS/nixpkgs/pull/136350

Once the next version of NixOS is released (probably `21.11`), I'd like to update the Termonad README to recommend users use `termonad` instead of `termonad-with-packages` when geting Termonad from nixpkgs.

I might turn `termonad-with-packages` into a deprecated alias for `termonad`.

[2021-09-01 06:55] Minda1975 opened #197 "Could not find module ‘Termonad.App’, ’Termonad.Config`, Termonad.Config.Colour"
Hello. Sorry for my bad English. I run Termonad, installed from Debian 11 repo (Termonad version 4.0.0.1-1). It runs fine. But when I try run it from another terminal, when i type `termonad`, it launches, but i see this errors:

[code]

I did not create termonad.hs config file in `~/.config/termonad/` dir. My question would be how to solve this problem.

Thank you.

[2021-09-01 12:48] cdepillabout commented on #197
The problem here is that when you run `termonad`, it tries to compile `~/.config/termonad/termonad.hs`.  It uses the `ghc` it finds on the `PATH` to do so.

If this GHC doesn't know about the `termonad` Haskell library, then it won't be able to find modules like `Termonad.App`.

I have a section in the README that talks about this.  Although it is somewhat confusing, so left me know if there is an

[2021-09-01 15:25] Minda1975 commented on #197
Hello.  Yes. I created this file. Then I tried to run it with a manually created configuration file.  Then I saw this error.  I deleted this file, but the problem remained the same. So, I deleted the whole termonad directory, located in `~/.cache`, and error messages is gone. However, I still wanted to configure termonad using `termonad.hs`.  After stepping deeper, I realized that I needed to inst

[2021-09-02 00:19] cdepillabout commented on #197
Thanks for the update.

If you're interested in helping out, could you send an update to the README with instructions on what to install on Debian?  The README currently doesn't have any instructions for installing using a distro package manager.

Also, maybe you could report your frustrations to the Debian packagers?

[2021-09-02 00:19] #197 closed

[2021-09-02 13:48] clinty commented on #197
FYI, the Debian `termonad` package now expresses a weak dependency on `libghc-termonad-dev`, which should pre-empt this issue on most setups.

[2021-09-02 14:14] Minda1975 opened #198 "Update README adding instructions for installing Termonad through Debian's apt package manager"
Hello. I don’t know if I’m writing in the right place, but I would like the README to be improved with instruction for those who use package manager in the Debian system.

For simply installation, you can install `termonad` with command `sudo apt install termonad`. This way you install a program that is fully usable, but the functionality of any configuration  is limited.  To fully configure this

[2021-09-02 14:22] cdepillabout commented on #197
@clinty Thanks for letting us know!

[2021-09-02 16:53] cdepillabout commented on #198
@Minda1975 Thank you for creating this issue.

Please feel free to send a PR  explaining how to install Termonad through `apt`.

I imagine @clinty might be interested in doing this as well, since they appear to be the maintainer for Termonad in Debian.

[2021-09-07 00:07] cdepillabout commented on #198
Solved in #201, thanks!

[2021-09-07 00:07] #198 closed

[2021-09-08 12:59] cdepillabout opened #203 "update README to recommend nix users install with flake.nix"
I added a flake to Termonad in https://github.com/cdepillabout/termonad/pull/202 for use by Nix users.

After flakes are fully released and no longer experimental, I should update the README to explain how to install from the `flake.nix` instead of the normal `nix-build default.nix` method.

[2021-09-16 22:43] Icy-Thought opened #204 "gi-gtk -> Monomer?"
I apologize for the late promised issue submission, have been very busy recently.

It's worth mentioning that I am very new to the haskell world and thus this proposal should be taken with a grain of salt considering my very limited haskell knowledge. 😊

I recently came across a relatively new haskell native GUI library so called [Monomer](https://github.com/fjvallarino/monomer) and thought I shou

[2021-10-14 02:38] gelisam opened #205 "split panes"
One feature I really like from iTerm2 is [split panes](https://iterm2.com/documentation/2.1/documentation-one-page.html#:~:text=selected%20this%20way.-,split%20panes,-iTerm2%20allows%20you). In particular, I always split my tabs vertically, with my text editor in the left pane, and ghcid in the right pane. I can currently achieve this with two termonad windows side-by-side, but this breaks down wh

[2021-10-29 19:32] gelisam commented on #205
Ah, I forgot about draft PRs! Good idea, better start to discuss the changes early. [Here is a draft PR](https://github.com/cdepillabout/termonad/pull/206).

[2021-11-07 07:44] formula-spectre opened #207 "add support for --class, --title and -e"
title. it would be handy to have them like every other terminal. -c and -t can be used to set a terminal class and name to facilitate finding, like making scratchpad sessions and make just them transparent with picom. -e is self explanatory, to have something executes as soon as termonad start.

[2021-11-09 06:59] craigem commented on #205
Loving following this feature request.

When it was opened it did not hold much interest for me as I was working with `termonad` + `tmux` for _years_ but I've recently become rather frustrated with how `tmux` mis-represents colours for `tmux` to be my all-day driver.

I'll be testing this pretty hard soon.

Thanks for making this happen! :smiley:

[2021-11-09 08:05] cdepillabout commented on #205
@craigem I haven't been able to take a look at this (hopefully I can get to it in the next week or so), but any help testing would be really great!

[2021-11-09 15:42] formula-spectre commented on #205
i would like to be a tester too, but I don't quite know how to; do I simply clone his branch, install and test split panes?

[2021-11-09 15:52] gelisam commented on #205
Nice, _users_! Any customizations related to split panes you would like to see supported? Any suggestion for which  keybindings should be used to split horizontally, split vertically, and to move between panes?

[2021-11-09 15:56] formula-spectre commented on #205
personally I think ctrl-h and ctrl-v are good keybinding to split panels horizontally and vertically; maybe a ctrl-shift modifier? so it does not conflict with anything else. about customization.. maybe a way to resize the two panes? both via mouse and keybinding, though they both sound tricky to put into actual code.

[2021-11-09 16:06] gelisam commented on #205
ctrl-v conflicts with vim's "don't interpret the next character, insert it literally", and ctrl-shift-v conflicts with termonad's existing Paste keybinding. Any other suggestion?

the Paned widget is resizable by mouse already. I don't know if gtk already has some keybindings for resizing it via keyboard; I wasn't planning to put in any, but I guess I could. any suggestion for which keybinding?

a

[2021-11-09 16:34] formula-spectre commented on #205
right, sorry haha, did not think about those

no no, I just meant resizing them via either mouse dragging or keybinding, sorry if I explained myself wrong

about the last question, I expect B, redestribute the column area equally.

sorry for the misunderstanding.

[2021-11-09 16:45] MuhammedZakir commented on #205
How configurable should this be?

1. Adjust pane height and width.
2. Swap panes.
    - Simple swap between nearby panes is a must. But, is it also possible to swap between arbitrary panes?
2. Color and thickness of border between panes.
    - I remember seeing issues about "thin" border between panes in another terminal repo.
2. Hooks when a pane is created and when deleted.
    - should be calle

[2021-11-09 21:44] craigem commented on #205
I've seen @MuhammedZakir suggestions and they appear sound. My off-the-cuff suggestion is a vague "let's look at what's commonly used elsewhere in TMUX, Byobu and other tools".

So I'll do some leg work on that and come back with a more meaning response than this.

[2021-11-10 06:35] craigem commented on #205
I'll keep updating this comment with other examples but for starters, here's Tmux default key bindings for panes:

| Action                   | Tmux          |
|--------------------------|---------------|
| toggle previous pane     | ctrl+b ;      |
| split pane vertically    | ctrl+b "      |
| split pane horizontally  | ctrl+b %      |
| move current pane left   | ctrl+b {      |
| move current

[2021-11-10 21:26] craigem commented on #205
If modal is chosen as the way forward, what should be the key?

* `ctrl+a` is used by GNU screen
* `ctrl+b` is used by TMUX
* `ctrl+c` is right out :rofl:

Perhaps:
* `ctrl+m` for monads :wink:
* `ctrl+o` for open?

There are no doubt better ones that do not clash with common usage but that's a start.

[2021-11-11 16:21] MuhammedZakir commented on #205
`m` can also stand for modal.

Two more:
- `ctrl+t` for termonad
- `ctrl+s` for shortcuts

[2021-11-12 18:45] Digit commented on #205
ctrl+t's very tabby muscle memory already.
alt+t ?

[2021-12-24 05:28] cdepillabout commented on #204
I took a look at Monomer.  It looks pretty neat.

Although about 90% or so of the Termonad code-base is just GTK/VTE-related, so switching to use a different GUI library would effectively mean a complete rewrite!  I imagine it would be better to do this in a separate project.

The other question is if you decided to write a full terminal emulator program using a separate Haskell GUI library, what

[2021-12-24 05:28] #204 closed

[2021-12-24 05:30] cdepillabout commented on #204
Also, from a brief read-through, it looks like Monomer promises an Elm-like architecture.  I think this is similar to the functionality provided by gi-gtk-declarative: https://github.com/cdepillabout/termonad/issues/79

[2021-12-24 05:38] cdepillabout commented on #119
While it might be neat to have a statically-linked Termonad executable, I imagine that most people use Termonad's functionality of automatically rebuilding the executable based on a `.config/termonad/termonad.hs` file.  Since it would be difficult to have this reloading process _also_ create a statically-linked executable, I'm not sure how useful this would really be.

Also, my understanding is th

[2021-12-24 05:38] #119 closed

[2021-12-24 06:25] cdepillabout commented on #207
It looks like `xterm` supports these arguments.

Here's a little more information about the arguments.

-   The `xterm` man page has an explanation of `-class` and `-title`:

[code]

    A couple points:

    -   It is completely unrelated, but I actually have some Rust code that inspects the `WM_NAME` and `WM_CLASS` properties of all your currently open windows.  I imagine this would be a good re

[2022-01-08 13:21] iamaravindim opened #208 "Termonad slow on initial launch"
Hi, I've been using termonad for a while now. I really like it but I find that Termonad always takes a long time to launch first time after login. I don't know if this is an intended feature, like compilation of config at first launch or something, but it is very annoying for me as a user of it. Other than this aspect, I find your program really useful. I'd suggest having something like:

`termona

[2022-01-09 02:35] cdepillabout commented on #208
I imagine you're right and this is likely the recompiling and re-exec'ing logic.  Although, this sounds like a bug.  It should only take a long time the first time Termonad recompiles its config.  After that, start ups should be fast, since Termonad has already been recompiled once and it should be able to tell that it doesn't need to be recompiled again.

The gory details of exactly what is happe

[2022-01-09 02:38] cdepillabout commented on #208
Oh, I should also add that there is a [`start`](https://hackage.haskell.org/package/termonad-4.2.0.0/docs/Termonad.html#v:start) function you could use instead of `defaultMain` if you want a Termonad that doesn't have the recompiling and re-exec'ing logic.

If you wanted to go this route, you'd likely have to create your own Haskell application, add Termonad as a library, and just directly call `s

[2022-01-09 09:47] iamaravindim commented on #208
@cdepillabout Thank you for your quick response. Yes after investigating, I think the problem lies in Termonad trying to check for mtime, currently I use btrfs with no-atime flag passed to it. As for how I installed Xmonad, I installed it through the package manager and Xmonad does support --recompile flag. I'm not a dev on Xmonad WM, so, I'm not completely sure how they implement that. I'm guessi

[2022-01-09 10:33] cdepillabout commented on #208
Unfortunately I don't control how/if distributions package Termonad (except on NixOS).  But if you'd like Termonad to be available from your distribution, I'd suggest you ask the maintainers of your distro to include it in their support package set!

[2022-01-16 12:14] cdepillabout commented on #208
It sounds like the above problems have been solved, but if you'd still really like a `--dont-recompile` flag, feel free to open a new issue about it.

[2022-01-16 12:14] #208 closed

[2022-01-17 01:18] gelisam opened #209 "CI failure due to backwards-incompatible aeson change"
I believe the CI failures in #206 are not due to changes in my PR, but rather, to a backwards-incompatible aeson change (presumably the much publicized [switch away from `HashMap`, due to the discovery of a collision attack](https://github.com/haskell/aeson/pull/866)).

I can reproduce this on `master` by running `cabal update` before `cabal build`, so this probably requires both publishing revisi

[2022-01-17 05:57] cdepillabout commented on #209
Thanks for bringing this up.

I published a revision for `termonad-4.2.0.0` (the current latest version), that makes sure to put an upper bound on `aeson`: https://hackage.haskell.org/package/termonad-4.2.0.0/revisions/

[2022-01-19 19:26] #209 closed

[2022-01-22 14:10] wineee opened #211 "error while loading shared libraries: libvte-2.91.so.0"
I install termonad from nixpkgs, termonad doesn't work after recent upgrade

[code]

[2022-01-23 06:53] cdepillabout commented on #211
My guess is that you did a garbage collection, and the `libvte` that the Termonad executable is trying to link to is no longer on your system.

Here's the command you can use to check out the libvte library that your cached termonad executable is trying to link to:

[code]

If `/nix/store/1phcdrnbbwgqvwy3yaraxl450hn04g63-vte-0.64.1/lib` no longer exists on your system, then it makes sense that thi

[2022-01-24 09:19] wineee commented on #211
You are right, `libvte` was removed by Nix garbage collection.
It worked fine after I reinstalled.
But I don't know why Nix remove a useful dependency，I add `termonad` in `environment.systemPackages`

[2022-01-24 10:35] cdepillabout commented on #211
Termonad uses https://hackage.haskell.org/package/dyre for the recompilation logic.

Here is a little documentation on exactly what is happening: https://hackage.haskell.org/package/termonad-4.2.0.0/docs/Termonad.html#v:defaultMain

Basically, Termonad creates an executable `~/.cache/termonad/termonad-linux-x86_64` that is linked to an old `libvte`.  Nix doesn't realize that `~/.cache/termonad/ter

[2022-01-24 10:35] #211 closed

[2022-10-12 12:35] mgajda opened #214 "How to configure menu bar?"
At the moment there is only a `showMenuBar :: Bool` configuration option.
It would be nice to add `menubar :: Terminal -> IO (Maybe MenuBar)` instead that changes menubar items,
and `defaultMenubar` for default one.

I am not sure if it is not possible to change menubar at all.

Example applications:

* Add SSH menu for remote shell calls that allows to copy file to remote server or use other out-

[2022-10-12 12:38] mgajda opened #215 "Finer hook types..."
It would be nice to see examples of hook types that are finer, and more declarative.

Instead of `... -> IO ()`, I would love to see:

* `type HookNewTerminal = Terminal -> IO Terminal`,
* `type HookNewWindow = ApplicationWindow -> Terminal -> IO Terminal`,
* `type HookNameChange = Terminal -> String -> IO Terminal`
* `type HookWindowResize = ...`

However all these require a smart constructor to

[2022-10-12 12:51] mgajda opened #216 "How to configure terminal to change behaviour on calling executable..."
It would be nice to change behaviour when a different executable is called:

1. When ssh is called to another machine, add options for SSH out-of-band commands (copy file, open remote port etc.)
2. When vim is called, add an option to open the same local file in another window, or show URL of the file.
3. When command supporting `xterm-256color`, switch TERMINFO to `xterm-256color` or better.
4. W

[2022-10-12 14:39] cdepillabout commented on #215
Thanks for opening this issue!  I agree that more hooks are needed.

The only reason I haven't added many is because I wasn't sure exactly what end users would need.

If you have some hooks you'd like, please feel free to send a PR adding them and I will merge in.

[2022-10-12 14:44] cdepillabout commented on #214
My initial thought is that this `menubar :: Terminal -> IO (Maybe MenuBar)` function could just be an additional hook, like in https://github.com/cdepillabout/termonad/issues/215.  Is there something that you think makes this different than a hook?  If not, maybe we could close this issue and move your comment to https://github.com/cdepillabout/termonad/issues/215.

Either way, I agree that this `

[2022-10-12 14:57] cdepillabout commented on #216
Let me make sure I understand what you're suggesting.  So, when you run Termonad, initially `bash` is run, and then within bash, if you run the `ssh` command, you'd like additional MenuBar options to be available to run SSH out-of-band commands?

That _would_ be really neat.

One problem is that Termonad is just using [VTE](https://wiki.gnome.org/Apps/Terminal/VTE) for the actual terminal emulator

[2022-10-15 15:56] cdepillabout commented on #196
I've removed the `termonad-with-packages` alias in Nixpkgs in https://github.com/NixOS/nixpkgs/pull/196157, which is included in https://github.com/NixOS/nixpkgs/pull/194600.

[2022-10-15 17:27] #196 closed

[2022-10-16 04:23] cdepillabout commented on #151
I happened to be looking through the `gi-vte` documentation, and it appears that there is now SIXEL support: https://hackage.haskell.org/package/gi-vte-2.91.29/docs/GI-Vte-Objects-Terminal.html#g:attr:enableSixel

[2022-10-16 23:19] cdepillabout commented on #151
This was implemented by @junjihashimoto in https://github.com/cdepillabout/termonad/pull/219, although we're still trying to figure out how well SIXEL is actually supported by VTE.  See that PR for the conversation.

[2022-10-16 23:20] #151 closed

[2022-10-25 22:39] #137 closed

[2022-10-30 21:37] refaelsh commented on #207
+1 for the `-e` option please.

[2022-10-30 21:38] refaelsh commented on #81
+1

[2022-11-01 13:55] refaelsh opened #224 "Feature request: Vim mode key bindings"
For example, here is how the requested feature is described in Alacritty: https://github.com/alacritty/alacritty/blob/master/docs/features.md#vi-mode.

I would like to propose that the same will be availible in Termonad too.

Thanks.

[2022-11-25 08:47] refaelsh commented on #165
I had the same problem just now and helped me too. I use NixOS btw.
Maybe its a bug and not a one time occurance of some esoteric edge case?

[2022-11-28 00:03] cdepillabout commented on #165
Here's my guess as to what happened:

1. You installed Termonad 3.1.0.1 with Nix, and it ended up in the Nix store at a path like `/nix/store/jh90rkvpn6csgjlbjr0sxbwqrykbflb8-termonad-termonad-3.1.0.1/`.
2. You ran Termonad, and it recompiled `~/.config/termonad/termonad.hs` and created the executable `~/.cache/termonad/termonad-linux-x86_64`.  This executable has some embedded data files (`/nix/s

[2022-11-28 06:40] refaelsh commented on #165
Your description is exactly accurate, this exactly what happened in my case.